[2020-09-24 17:11] aviflax commented on #1420
That makes sense!

The one thing that still puzzles me is why this seems to be inconsistent. Why do some commands ask for this and others don’t?

[2020-09-24 17:15] aviflax opened #1421 "Feature request: a verbose option for most commands"
When I run `env init` or `svc init` the tool prints out super informative, helpful, and useful status info; essentially a task list of the various things that need to be done, and their status. This helps provide transparency and also build confidence that the right stuff is happening, and that progress is being made.

[code]

OTOH when I run most of the other commands, such as `svc deploy`, `svc

[2020-09-24 17:20] efekarakus commented on #1421
I really want to improve our UX during service deployments/deletions! Thanks for the issue, a customer request will help us prioritize it :)

[2020-09-24 17:35] aviflax opened #1422 "Feature request: support copilot dir in subtree in repo"
I’m working on bootstrapping a monorepo (my first time, fwiw) to host a legacy system that I’m porting into this monorepo.

* This system (app) has multiple subsystems (services); I’m putting them in `/apps/`
* I anticipate needing to work with multiple infrastructure tools in this monorepo.
* I’d like to locate all Copilot-related resources (manifests, add-ons, `.workspace`) in `/infrastructure/c

[2020-09-24 17:49] aviflax commented on #1421
Great! And thanks for the response — it’s always good to hear that the time taken to report/request these sorts of things was/is worth spending.

[2020-09-24 20:07] aumanjoa commented on #1402
@kohidave may you can help me. I try to create my documentDB as addon but I always get this error:

My yaml file looks like this:

[code]

I have run this template via Cloudformation in the console, it worked fine there

[2020-09-24 21:28] aviflax commented on #1410
Another use case for this subcommand: I want to delete an environment, but I can’t because a service is deployed to it:

[code]

(I don’t know why the service is listed twice.)

That’s reasonable (although I wish there was a `--force` option) but now what? Since there’s no command to “undeploy” a service from an environment, as far as I can tell I need to run `copilot svc delete` which prompts me

[2020-09-24 23:18] bvtujo opened #1425 "Job Init Command"
This issue is to track the status of the Job Init command and related subtasks. Related #1131

- [x] Job Init Ask (#1390)
- [x] Job Init Validate (#1367)
- [x] Job Init Execute (#1423)

[2020-09-24 23:19] bvtujo commented on #1425
Related #1131

[2020-09-24 23:22] bvtujo opened #1426 "Job Deploy Command"
This issue is to track the status of Job Deploy and its related subtasks and prerequisites. Related #1131

- [x] Job Deploy Validate (#1394)
- [x] Job Deploy Ask (#1408)
- [ ] Job Deploy Execute
- [x] Template execution for Cloudformation (#1427)

[2020-09-24 23:26] bvtujo opened #1428 "Job Package Command"
This issue is to track the status of the Job Package command and its related subtasks. Related #1131

- [x] Job Package Ask()
- [x] Job Package Validate()
- [ ] Job Package Execute
- [ ] Template execution for jobs (#1427)

[2020-09-24 23:30] bvtujo opened #1429 "Job Delete Command"
This issue is to track the status of the Job Delete command and related subtasks. Related #1131

- [x] Job Delete Ask
- [x] Job Delete Validate
- [x] Job Delete Execute

[2020-09-24 23:36] #1367 closed, assigned to huanjani

[2020-09-25 01:46] inssein opened #1430 "Ability to set the domain per environment"
First of all, awesome project, it's been working great so far.

I'm not sure if this is the right place for feature requests, but it would be awesome to be able to have set the domain per environment. The current application I am working on has 2 separate AWS accounts for the different environments, and also has completely separate domains.

[2020-09-25 02:24] kohidave commented on #1430
That makes total sense! We've started planning out what more DNS control might look like in this issue: https://github.com/aws/copilot-cli/issues/1188

[2020-09-25 02:45] inssein commented on #1430
@kohidave awesome.

I also just realized that my current ask works just fine. I instantiated the app separately per AWS profile and set the relevant domain name, and so far it is working.

Going to close this issue as the rest of my asks are already tracked in the other issue.

[2020-09-25 02:45] #1430 closed, assigned to nobody

[2020-09-25 13:31] aviflax commented on #1306
Yes please!

[2020-09-25 13:55] aviflax opened #1431 "Feature request: when a service deployment fails, output the underlying reason"
For example, I just had this experience:

I ran `copilot svc deploy` and got this output:

[code]

I don’t know what all that means, but I know in order to discover the underlying problem I have to go to the CloudFormation console and dig around.

Eventually under the _Events_ tab for the stack for this service, I saw this:

<img width="423" alt="image" src="https://user-images.githubusercontent.c

[2020-09-25 14:56] aviflax opened #1432 "Feature request: easy way to use a service’s task role when running a one-off task"
Right now I can see that a service has a task role, but I don’t see a way to programmatically and automatically get the ARN of that role and pass it to `copilot task run` — I need this to be dynamic because it will vary by environment, and I can’t have a manual step of retrieving the ARN.

It’d be great if there was a way to associate a one-off task with a service, just as we can currently associa

[2020-09-25 17:50] aviflax commented on #1368
Hi @efekarakus I’m still working on this… the pattern overall is mostly working, and working well, but I keep running into snags.

Current snag:

I’m deploying my service again (maybe the 20th time this week) into a fresh environment… but for some reason the service execution role doesn’t seem to have access to the param containing a DB password; I’m getting this in the “stopped reason” field for

[2020-09-25 18:27] efekarakus commented on #1368
Hi @aviflax !

Oh no I'm sorry to hear that :( Do you have high-level feedback for us to make this process easier?

I wonder if the reason why it doesn't work is because the SecretManager secret needs to be defined as an ARN (https://docs.aws.amazon.com/AmazonECS/latest/developerguide/specifying-sensitive-data-secrets.html)?

Would you mind trying this out to see if this works:
[code]

[2020-09-25 18:48] efekarakus commented on #1402
heya @aumanjoa, that's very strange that the YAML parser is erroring on the `DependsOn` statement. We'll keep investigatingg. In the mean time to unblock you, you can actually remove the `DependsOn: DBCluster` line and the addon stack will deploy successfully (tried it out locally)

[2020-09-25 19:06] perevernihata opened #1434 "Feature request: Export load balancer ARN from the application CF template"
Currently, only PublicLoadBalancerDNSName is exported, therefore if you want to add custom listeners via addon - it is not possible without some custom resource (lambda) to find correct ALB which will be complicated.
Should be easy to change? :)

[code]
Just add to this file?
https://github.com/aws/copilot-cli/blob/87308f4a50fe22dd3e8c85b9ea567bdca51053de/templates/environment/versions/cf-v1.0.0.y

[2020-09-25 19:12] iamhopaul123 commented on #1434
Hello @perevernihata. Good call! It's already on our schedule. We have a plan for adding this output after the feature of enabling users to upgrade their environment.

[2020-09-25 19:22] iamhopaul123 commented on #1431
Hello @aviflax.

Yeah I agree we should make our error message more useful for you to find out the reason why your CFN deployment fail in this situation when your addon stack fails to update.

[2020-09-25 20:33] kohidave opened #1435 "Shouldn't ask for port for backend service"
Right now if you try and create a backendservice without an expose, it'll ask you for a port:

[code]

This often doesn't make much sense for backend services (I was building a queue processing service).

[2020-09-25 20:48] kohidave commented on #1432
I think it makes total sense to add a `--svc` flag to `task run` which will run with the service's task role.

[2020-09-25 21:59] bvtujo commented on #1435
Is there anything in service discovery we need the port for, so this would just be a prompt wording change, or do we need to remove this ask entirely for backend services?

[2020-09-25 22:18] #1425 closed, assigned to nobody

[2020-09-28 23:12] inssein opened #1442 "Support alarms for services"
It looks like there is some support for alarms (`copilot svc status`) but I can't find any documentation for how I can create an alarm.

If someone can point me to an example, I don't mind writing the docs.

[2020-09-28 23:36] huanjani opened #1443 "config refactor (Services -> Workloads) of app CFN template"
https://github.com/aws/copilot-cli/blob/mainline/templates/app/cf.yml#L9

Change the Metadata key "Services" in the App CloudFormation template to "Workloads." This generalizes the field of the struct it unmarshals into to include jobs.

[2020-09-29 00:30] efekarakus commented on #1442
Heya @inssein ! Right now we don't have a way of defining CW alarms using the CLI. Unfortunately, you'd need to create them separately through the console, AWS CLI, or CFN.
But, Copilot will display these alarms for you when you run `svc status` if you tag the alarms with `copilot-application`, `copilot-environment` and `copilot-service`.

For example, if I have a service named "site" in a "test"

[2020-09-29 07:40] malkovro commented on #1432
Would it make sense to run it with the env variable and secrets specified in the manifest for this service as well ?
I see the _Task Run Design Command "issue"_(https://github.com/aws/copilot-cli/issues/702) mentions that one of its use-case is to allow one-off scripts requiring secrets but there is no way to currently pass those secrets to the command.

[2020-09-29 12:36] hnrc commented on #1435
Heya 😄
👉 https://github.com/aws/copilot-cli/issues/1246 👈

[2020-09-29 13:02] aviflax commented on #1368
Hi @efekarakus — I hope you had a good weekend!

Well, I’ve tried to file specific, focused issues for each problem I encounter. ([10 so far.](https://github.com/aws/copilot-cli/issues?q=is%3Aissue+author%3Aaviflax+))

High-level, though, I’d say that it’s all about feedback from the tool as its doing its thing: *more* feedback, *deeper* feedback, and *faster* feedback.

For example:

* When deplo

[2020-09-29 13:03] aviflax commented on #1432
I think so, yes. I think that'd be intuitive and useful.

[2020-09-29 13:07] aviflax commented on #1269
Why remove this?

Personally when I copy-and-paste a terminal session, e.g. for a bug report, or perhaps an experience report, a presentation, etc — I’d prefer to have the entire user experience recorded there and clearly apparent. That feels, to me, more intuitive with a CLI tool.

(It does seem that the team might be going for a more interactive/dynamic “feel” for the tool, as compared to most C

[2020-09-29 15:48] efekarakus commented on #1421
Copying additional UX feedback here from https://github.com/aws/copilot-cli/issues/1368#issuecomment-700686981

[2020-09-29 15:54] efekarakus commented on #1368
😅

The 3 bullet points make a lot of sense to me! I copied them over to https://github.com/aws/copilot-cli/issues/1421 so that we can track all the UX related changes needed there.

To give you visibility into our current sprint: https://github.com/aws/copilot-cli/projects/1, we're currently working on a `job` command to create scheduled jobs as well as building the foundational work to support ne

[2020-09-29 16:02] efekarakus commented on #1432
Thanks for the feedback that makes a lot of sense!

[2020-09-29 18:15] inssein commented on #1442
Ah okay, seems like I am being hampered by this CloudFormation feature request: https://github.com/aws-cloudformation/aws-cloudformation-coverage-roadmap/issues/64

I have already used the addons CloudFormation stack to create relevant alarms (for example, I have an alarm when something ends up in a dead letter queue), but since I can't tag them via CFN, it doesn't show up up when I run the `svc s

[2020-09-30 16:59] #1422 closed, assigned to nobody

[2020-09-30 17:34] iamhopaul123 opened #1447 "Workspace selector should only list exsiting svcs/jobs"
Currently our workspace selector lists all local svcs/jobs. However, some of them only have their manifest files in the workspace and are not actually exists in SSM store. The ws selector should use the intersection of SSM and local svcs/jobs instead.

[2020-09-30 19:14] aviflax commented on #1269
Suggestion, as per [this comment](https://github.com/aws/copilot-cli/issues/1432#issuecomment-700511961) on #1432:

[code]

[2020-09-30 19:44] aviflax opened #1449 "Feature request: “import” a secret from Secrets Manager by name"
…via service manifest, and have it be “exported” to service tasks at runtime. (And, later, also to the tasks that run in the “context” of the service (#1269)).

This came out of a discussion in #1365

I’ll try to summarize:

* I’ve got a service called `shared-infra` that’s not really a service — it’s just a host for some addons defining shared infrastructure resources that I need to define+deploy

[2020-09-30 19:45] aviflax commented on #1368
@efekarakus —

Created #1449.

At this point I’m pretty much done, and I was able to accomplish this pattern (shared resources) and make it work for my use case. Thanks so much for all the help!

[2020-09-30 20:12] efekarakus commented on #1368
No problem, thanks for all the feedback! It really helps us improve the tool and its direction :)

[2020-09-30 20:27] huanjani opened #1452 "Job Delete Command"
This issue is to track the status of Job Delete and its related subtasks and prerequisites. Related #1131

- [x] Job Delete Validate
- [x] Job Delete Ask
- [x] Job Delete Execute
- [x] Include `job delete` in `app delete`

[2020-09-30 20:49] aviflax commented on #1422
🎉 thanks @huanjani !

[2020-10-01 03:52] okadakk opened #1453 "feature request: attach an existing security group"
Due to security requirements, we have a security group in place to limit the instances that can access the RDB.
I would like to be able to attach an existing security group.

Thank you!

[2020-10-01 09:20] ivanbarlog opened #1454 "feature request: use copilot cli with another AWS profile than default"
It is not possible to use copilot cli with other than `default` profile.

Could you please provide some `--profile` flag so it could be changed per command?

Cheers!

[2020-10-01 09:52] pcolazurdo commented on #1180
Could a --force option be added that will setup the desired task to 0? - this would help users

[2020-10-01 10:18] hnrc commented on #1454
You can set the `AWS_PROFILE` environment variable to override `default` if you want to, e.g. `AWS_PROFILE=foo copilot init`.

[2020-10-01 11:27] pcolazurdo opened #1455 "Failed to deploy service when changing the http path"
Hi team,

I had one service deployed ok, but found that the path was wrong so I tried updating it and redeploying. I got the following error when doing so.

[code]

When looking into CloudFormation, the error is:
[code]

Just if it helps for reproduction, the specific part of new manifest looks like:

[code]

[2020-10-01 12:53] ivanbarlog commented on #1454
sorry, my bad, I've just read it within the documentation - it is hidden too good ;-)

https://github.com/aws/copilot-cli/wiki/Credentials#application-credentials

[2020-10-01 12:53] #1454 closed, assigned to nobody

[2020-10-01 13:56] pcolazurdo commented on #1455
The problem was a conflict with another service in the same app. It would be useful to have a clearer message but I don't consider this a bug, so closing it

[2020-10-01 13:56] #1455 closed, assigned to nobody

[2020-10-01 16:31] efekarakus commented on #1455
Heya! a clearer error message makes a lot of sense.
Just to add some additional details, while deploying multiple "load balanced web services" each service will get a unique path. By default the first service is listening `"/"` and has the lowest priority. The following services will listen on `"/<svcName>"` and will get a higher priority. You can change the path to be whatever but as you found ou

[2020-10-01 19:58] iamhopaul123 commented on #1453
Hello @okadakk, this is a very helpful feedback for us! Does it help if Copilot allows importing/configuring a security group on behalf of your service, so as to control the ingress/egress?

[2020-10-01 20:17] efekarakus commented on #1453
To add on to @iamhopaul123's comment, what would be an ideal UX for your usecase?

For example, if we add a `security_groups` field in the manifest would that help for adding additional security groups to your ECS service?
[code]
Is specifying the the security group ID okay with you in the manifest file?

[2020-10-01 21:39] CountryNerd opened #1456 "Ability to use existing VPCs"
Ability to use existing VPCs

[2020-10-01 21:39] CountryNerd opened #1457 "Ability to use existing ALBs"
Ability to use existing ALBs

[2020-10-01 21:43] iamhopaul123 commented on #1456
Hello @CountryNerd, you could use existing VPC when you [create an environment](https://github.com/aws/copilot-cli/wiki/env-init-command) by doing `copilot env init`. The CLI should prompt you whether to use existing VPC instead of creating a new one.

[2020-10-01 21:50] CountryNerd commented on #1456
Oh thank you that does work.

[2020-10-01 21:50] #1456 closed, assigned to nobody

[2020-10-02 12:18] okadakk commented on #1453
Thanks @iamhopaul123 @efekarakus !

Yes! It helps me a lot.

Sounds good! It's OK specify in the manifest file!

[2020-10-02 14:40] brudil opened #1458 "Env specific environment variables within pipelines"
My apologies if I'm missing something here.

We have setup a 2 stage pipeline, `staging` and `production` concerning a single app called `api`. Within our manifest we utilise the `environments` key to describe different environment variables depending on the copilot environment.

When testing this out via `copilot svc package` command the CloudFormation correctly outputs the correct variable value

[2020-10-02 18:03] efekarakus commented on #1081
@nthomson-amazon built an awesome prototype with copilot here: https://github.com/nthomson-amazon/copilot-cli/commit/0d7934c766221416c6ef75fa3ff09cb43417c23e !

[2020-10-02 20:57] efekarakus commented on #1458
Heya @brudil ! Sorry for the inconvenience, your explanation makes sense to me and it sounds like a bug.
We'll update the issue by trying to reproduce the issue and let you know

[2020-10-02 21:39] iamhopaul123 opened #1460 "svc/job/pipeline init should prompt if overwrite manifest/buildspec files"
Currently since our svc/job/pipeline delete do not delete local files automatically, it is very possible that users might use their outdated local files when deploying their service/job/pipeline. It's would be better if we could prompt them if they'd like to use their existing files.

[2020-10-02 23:42] bvtujo opened #1463 "Job List Command"
This issue is to track the status of Job List and its related subtasks and prerequisites. Related #1131

- [ ]  Job List Ask (#1462)
- [ ]  Job List Execute (#1462)

[2020-10-03 18:41] srrengar opened #1464 "Windows user experience for env init"
Running init in Windows leads to 2 usability issues

First is the guided prompts fail for user input and forces a user to use paramaters
![image](https://user-images.githubusercontent.com/30325699/94999299-4c9f1400-056d-11eb-9d49-cf8e5eed974e.png)

Using init with parameters create the application but updates are in every newline
![image](https://user-images.githubusercontent.com/30325699/94999247

[2020-10-04 19:35] efekarakus commented on #1402
Heya @aumanjoa, with the template above if you change: `DependsOn: DBCluster` to `DependsOn: [DBCluster]` it should work for now. The reason is that the underlying library that we use [goformation](https://github.com/awslabs/goformation/) seems to expect the DependsOn field to be a list of strings instead of a single value.

[2020-10-04 20:40] efekarakus commented on #1178
Another template but this time for Aurora Serverless with Postgres that can be copy pasted to your addons: https://gist.github.com/efekarakus/1ab9a34f6d4c80f6b035be4b8198d00e using the private subnets from your environment

note-to-self: If you'd like to do credentials rotation, take a look at using the Lambda from: https://gist.github.com/efekarakus/2d69190e54b8d9a3719f2bd81181b73f

[2020-10-05 18:34] Envek opened #1466 "Quoting and command argument parsing for one-off tasks"
When I try to execute complex command as one-off task (like one in the README):

[code]

Command gets split into words by spaces without account for nested quoted strings.

**Expected behavior**

Container runs with quoted string as single argument:
[code]

**Actual behavior:**

Container runs with  quoted string split in-between:
[code]

**Real world example**

If you need to use environment vari

[2020-10-05 18:49] iamhopaul123 commented on #1466
Hi @Envek, thank you for your feedback for Copilot! Yes, this is definitely an issue we need to resolve for `copilot task run`. So far unfortunately there's no easy workaround for this issue, but there'll be a quick fix for this soon.

[2020-10-05 20:12] #1154 closed

[2020-10-05 20:41] #1398 closed, assigned to nobody

[2020-10-05 21:03] iamhopaul123 opened #1468 "ALB metrics for autoscaling"
Currently the only two metrics we support for autoscaling are cpu and memory. We need to add more ALB metrics.

[2020-10-06 02:05] #1466 closed, assigned to nobody

[2020-10-06 13:06] mkjsix opened #1470 "Update installation docs for brew"
The documentation says to install we have to run `brew install aws/tap/copilot-cli` but brew answers with:

[code]

I guess the docs need to be updated?

[2020-10-06 14:30] Envek commented on #1466
@iamhopaul123 thank you for rapid fix! :pray:

[2020-10-06 15:33] ctindel opened #1471 "Not seeing stdout in service logs"
It seems like my service logs are only showing me stderr (exceptions etc) but none of my stdout debugging statements.

According to this blog post I thought I'd see stdout:

https://aws.amazon.com/blogs/containers/introducing-aws-copilot/

Is this a known problem, do I need to do something special to get stdout routed to the logs?

[2020-10-06 16:56] efekarakus commented on #1471
Heya @ctindel !

Copilot doesn't do any particular regarding forwarding logs to CloudWatch.
Is it possible that an environment variable needs to be set for the service logs or some sort of framework configuration needs to be put in place? What is the tech stack for the service?

[2020-10-06 17:00] ctindel commented on #1471
@efekarakus This is just a simple python script that runs in an infinite loop.  All I know is that if I run it from the shell I see some startup debugging messages but when I launch it as a copilot service all I see are things like exceptions.

[2020-10-06 17:02] efekarakus commented on #1471
How are the logs printed? do you use just `print` or a logging library?

[2020-10-06 17:15] ctindel commented on #1471
print() statements

[2020-10-06 17:35] bwarren2 opened #1472 "Feedback (No actions)"
TLDR: I LOVE YOUR WORK!

I have been wanting to get into container-oriented service architectures for years, but every time I tried ECS for something serious I bounced off: I hit some snag, or some unintuitive CLI response, or the recommended pattern was another AWS product that [1] recommended another AWS product that GOTO 1,  and eventually gave up.  Fargate was a big help, and getting things do

[2020-10-06 17:48] efekarakus commented on #1472
❤️ Thank you so much Ben! This type of feedback is so motivating and we really appreciate it :)

We have some plans here related to https://github.com/aws/copilot-cli/issues/1421 where while the service is deploying we'd like to stream logs from your service to the terminal so you can see what is going on, as well as seeing if any tasks are failing to come up. I think that will help debug healthch

[2020-10-06 18:42] efekarakus commented on #1470
Heya!

I just tried it out:
[code]

and it seems to work fine for me! Which platform are you using macOS or linux?

[2020-10-06 22:18] ctindel commented on #1471
I am closing this for now.  It seems to be working although I have no idea what changed.  Sorry about the misfire.

[2020-10-06 22:18] #1471 closed, assigned to nobody

[2020-10-06 22:20] efekarakus commented on #1471
That's very strange haha, I'm glad that it's working now though :D

[2020-10-07 09:33] ivanbarlog opened #1474 "How to create HTTPS Load balanced web service?"
Hi there,

I was trying to find any information about how to create HTTPS instead of HTTP "Load Balanced Web Service" but unfortunately I was unable to find any information about this except [Setting custom domain for the application](https://github.com/aws/copilot-cli/wiki/Applications#additional-app-configurations) which is not working for me.

There are few issues which slightly talks about my

[2020-10-07 10:07] mkjsix commented on #1470
I have the latest MacOS Catalina.

However, if you look at the Homebrew catalog, the package is in the root brew folder and not in the aws/tap anymore: https://formulae.brew.sh/formula/copilot#default

Perhaps locally you have an older brew cache, that's why you can still install from there?

[2020-10-07 18:57] efekarakus commented on #1470
I wonder if running `brew tap aws/tap` first will help:
[code]
If that works I'll update our docs to add the extra step

[2020-10-07 19:00] efekarakus commented on #1474
Heya @ivanbarlog !

The tutorial in this repository might also help: https://github.com/kohidave/dns-and-lb-copilot-demo. As long as the domain name registered with Route53 is in your Copilot application's account then the `--domain` flag should be working.

What part of it didn't work for you?

[2020-10-07 21:38] huanjani opened #1477 "refactor: DRY up cli delete code"
We should create a new `cli/delete` package that extracts code from the CLI's `delete` subcommands to a place from which it can be shared.

Related: https://github.com/aws/copilot-cli/pull/1461

[2020-10-08 17:42] ivanbarlog commented on #1474
Thank you @efekarakus ,

the tutorial you've posted here seems to be very helpful. I need to check it out sometime. Unfortunately I have already scraped the whole copilot infrastructure and replaced it with CloudFormation template. I hoped that copilot could resolve my issues with the ease but I guess it is still a bit confusing/unclear how it works so I guess I will need to revisit it in some tim

[2020-10-09 00:18] SoManyHs opened #1481 "pipeline: change default branch"
In the pipeline manifest, we should change the default branch tracked by the pipeline to `main` to reflect GitHub's defaults.

See:
- https://github.com/github/renaming
- https://tools.ietf.org/id/draft-knodel-terminology-00.html

[2020-10-09 17:57] Kylir commented on #1481
Came here to report the issue :)
Thanks!

[2020-10-09 18:04] #1481 closed, assigned to SoManyHs

[2020-10-09 19:11] SoManyHs opened #1485 "pipeline delete UX"
After deleting a pipeline, it might be helpful to display a message saying that the buildspec and pipeline manifest are still around in case the user wants to clean those up; otherwise running `pipeline init` again will skip writing those files.

[2020-10-10 04:28] #1435 closed, assigned to nobody

[2020-10-10 08:46] sanjeevtejyan opened #1489 "Load Balanced Webservice - must provide an option to deploy service in private subnets and bind it with public ALB sitting in public subnet"
There are following issues
- copilot svc deploy, service in public subnets, Ideally it should be deployed in private subnet
- There is no option to choose not to assign public ip. There is no need to assign public ip as service is exposed by public load balancer and thus makes the service vulnerable from security aspect.

This seems to be an urgent issue as this brings security aspect.

[2020-10-10 18:20] kohidave commented on #1489
Hey there! Thanks so much for reaching out - we appreciate it!

So first off, I really appreciate appreciate your eye for security! We actually originally designed our environments as you described, with tasks launched in private subnets. This ends up forcing customers to set up a NATGateway which is pretty expensive, so we opted to place tasks in public subnets. To ensure that these tasks are sec

[2020-10-11 02:11] HiddenDeveloper commented on #1474
I can confirm the steps worked fine for me. I already had a domain registered in Route53 and used the following commands.

$ copilot app init --domain MY_REGISTERED_DOMAIN

copilot created the infrastructure to manage the services and prompted with a recommendation to run `copilot init`

$ copilot init

After the command completed the https url was available to access my container.

Great Project.

[2020-10-11 02:19] HiddenDeveloper commented on #1345
@andreas-gruenwald, Thanks for posting the credential list.
You saved me tons of time.

FYI. I had to add the policy AmazonRoute53FullAccess when using the --domain argument with the command
$ copilot app init --MYDOMAIN

[2020-10-11 19:25] bwarren2 opened #1490 "ECR Repository existence fails a `copilot init`"
I have been trying to start up a demo project, and an initial build saw the Cloudformation create of the ECS Service hang.  After about 28 minutes I gave up on the stack and deleted it.  Since then, I have tried:

1. Rerunning `copilot deploy`
2. Deleting all the stacks and rerunning `copilot init`
3. Running `copilot app delete` and rerunning `copilot init`

All of these methods have failed, appa

[2020-10-11 20:23] jeeslo opened #1491 "Enabling ARN long format lambda - wide permissions"
AWS Copilot leverages a CloudFormation custom resource to enable long ARN format in the account. The lambda function role used to perform this action is very wide... full access with the exception of Organizations and Account scope operations (organizations:DescribeOrganization and account:ListRegions actions are indeed allowed)

`{
    "Version": "2012-10-17",
    "Statement": [
        {

[2020-10-12 15:56] efekarakus commented on #1491
Heya @jeeslo,
Thanks for pointing this out for us! I've pulled the issue to our backlog and we'll work on narrowing it down.

(https://docs.aws.amazon.com/AmazonECS/latest/userguide/ecs-account-settings.html#ecs-resource-ids)

The lambda might also not be needed anymore

[2020-10-12 16:07] efekarakus commented on #1490
Hi @bwarren2 ! I'm sorry to hear about that the deployments didn't work :(

Can you elaborate on this? Was there a particular error that highlighted the ECR repository not being able to create?

Usually services will hang because the task's healthcheck will keep failing. One way to validate that is to go to the Amazon ECS console and check for the "Stopped" tasks for your service.

![Screen Shot 2

[2020-10-12 17:53] #1463 closed, assigned to bvtujo

[2020-10-12 19:10] efekarakus commented on #1491
aah I finally remember why we did this! We are using the [`CloudFormationExecutionRole`](https://github.com/aws/copilot-cli/blob/75815b2c1c86d1a081ac369668963416d7c4da92/templates/environment/partials/cfn-execution-role.yml#L1) as the role for the lambda because of the following:

So we can't create a separate role to enable long ARNs for the `CloudFormationExecutionRole`.

I tried also removing t

[2020-10-12 20:43] bwarren2 commented on #1490
The healthcheck failure was indeed the problem :) .  I have been trying to delete stacks and any resources I know of to get back to zero, but now have errors like

[code]

Not really sure what to do with this, but the verbose mode you mention will probably help :)

[2020-10-12 21:59] SoManyHs opened #1499 "Add pipeline info to `show` commands"
It'd be nice to see basic pipeline info in the `app show` and `svc show` in the same way we show env and other information.

Similarly, it might also be nice to have a `pipeline ls` subcommand.

[2020-10-12 23:34] bwarren2 commented on #1490
Closing this issue because #1421 will probably address it.  Thank you @efekarakus!

[2020-10-12 23:34] #1490 closed, assigned to nobody

[2020-10-13 03:48] huezo89 opened #1502 "Environmental variables for service deployment"
Is it possible to use environmental variables for service deployment?

I have my projects in Gitlab and was trying to push my projects with Gitlab pipelines. I can use environmental variables for my credentials if I want to read data (svc ls, env ls, app ls, etc), but if I want to deploy a service, it then goes to ~/.aws/ to look for the credentials/config files.

It seems it is possible to do thi

[2020-10-13 16:26] efekarakus commented on #1502
Heya @huezo89 !

What version of the Copilot CLI are you using? would you mind also copy pasting the error that you get?

I just tried this out locally using `v0.4.0` by doing:
[code]
and it picked up the correct credentials.

Thanks!

[2020-10-13 16:59] huezo89 commented on #1502
Hi, thanks for the reply, I am using v0.4.0

$ export AWS_ACCESS_KEY_ID=$AAKI
$ export AWS_SECRET_ACCESS_KEY=$ASAK
$ export AWS_DEFAULT_REGION=$ADR

If I try to deploy I get this error:
✘ get environment test configuration: get environment test in application ecom-system: NoCredentialProviders: no valid providers in chain
caused by: EnvAccessKeyNotFound: failed to find credentials in the environme

[2020-10-13 17:14] trevorrobertsjr opened #1503 "GitHub Default Branch is main NOT master for Pipeline"
GitHub is updating their repo terminology so that "main" is the default branch name, not "master". Please update pipeline functionality accordingly.

[2020-10-13 17:21] efekarakus commented on #1502
That's so strange!

I deleted the AWS CLI, moved `~/.aws` to a different directory and it worked with:
[code]

Would you mind giving this a shot?

Maybe as an other alternative, this might work:
[code]

[2020-10-13 17:25] trevorrobertsjr opened #1504 "Pipeline init requires Connect to GitHub step"
The pipeline Source step fails unless I edit the stage and click Connect to GitHub.

The existing copilot automation and including the token does not appear to be sufficient to pull the source from GitHub.

[2020-10-13 17:28] kohidave commented on #1503
💯 Thanks so much for the catch! We actually just updated our code to use `main` as the default branch! This change will be released in the next Copilot release 👍

https://github.com/aws/copilot-cli/commit/51369a39f009b7a432b8aef98ca34ed89b38ee2b

Thanks again!

[2020-10-13 17:28] #1503 closed, assigned to nobody

[2020-10-13 18:12] huezo89 commented on #1502
I found the problem, I was running "sudo copilot svc deploy" so it was unable to access the variables.
running "copilot svc deploy" (like you did) did the trick.

[2020-10-13 18:15] efekarakus commented on #1502
Yay awesome! I'll close the issue if that's okay, feel free to re-open it for any additional issues :)

[2020-10-13 18:15] #1502 closed, assigned to nobody

[2020-10-14 14:56] codecrack3 opened #1506 "Running a one task with a exists Cluster"
How i can run a task with a exists cluster ?.

[2020-10-14 16:11] efekarakus commented on #1506
Hello @codecrack3 !

With the `task run` command at the moment there are only two options:
* Run in the default cluster (you can specify subnets and security groups)
* Or, run in a Copilot environment cluster.

Is there a reason why you'd like to run in a specific cluster? Is there a particular advantage?

[2020-10-14 16:28] codecrack3 commented on #1506
Hi @efekarakus  thanks you for reply me. In this case, I’m have a cluster with 2 services and now I want to run more another service quickly with copilot. Do you think is a advantage? . I hope see your answer soon.  Thanks

[2020-10-14 16:31] #1447 closed, assigned to huanjani

[2020-10-14 17:05] efekarakus commented on #1506
Heya!

Just to make sure that I'm on the same page:
* You have already an existing ECS Cluster with 2 running services that was created outside of Copilot. Is that right?
* And you want to add a third service service to the existing ECS Cluster?

One way that I can think of is running:
[code]
These steps will still create a new ECS cluster, however the new service will be in the same VPC and can b

[2020-10-14 17:29] #1506 closed, assigned to nobody

[2020-10-14 17:30] codecrack3 commented on #1506
Hey. Thanks you explained to me. I think i already have the answer . Many thanks

[2020-10-14 17:32] efekarakus commented on #1506
Awesome, please feel free to re-open if you have any questions!

[2020-10-14 20:29] Envek opened #1507 "Can't programmatically run task from task created by copilot (permissions issue)"
I want to run some one-off task from application running inside another ECS task created by `copilot deploy`.

To do this I've created following Managed Policy as [addon](https://aws.github.io/copilot-cli/docs/developing/additional-aws-resources/):

[code]

`iam:PassRole` is required as per [ECS guide for IAM roles for tasks](https://docs.aws.amazon.com/AmazonECS/latest/userguide/task-iam-roles.ht

[2020-10-14 20:33] bvtujo commented on #1504
Hi @trevorrobertsjr, so sorry you got bit by this issue. When you create your personal access token for Copilot you need to temporarily grant it the `repo` and `admin:repo_hook` permission scopes here on Github in order to create the webhook which sends pushes and merges to CodeBuild. Once you've created the pipeline, you can remove those scopes if you like.

This is mentioned in our [documentatio

[2020-10-14 22:52] bvtujo commented on #1507
Hi @Envek, thanks so much for the detailed issue. Could we get a few more details about your use case (i.e. is the one-off task run on a schedule from within the container, in response to a load balancer metric, or in response to some sort of event from the service code or CloudWatch)?

That will really help us understand how we can help you with a workaround.

To answer some of your questions, we

[2020-10-15 12:20] Envek commented on #1507
None of those. This one-off task intended to be run in response to user action.

E.g. application user presses kind of “Start” button somewhere in application's UI which (among other things) starts resource-heavy ECS task until “Stop” button will be pressed by the user (or timeout expires).

For now, I have two copilot-generated services:
 1. Main load balanced service (let's call it `app`) which

[2020-10-15 19:09] efekarakus commented on #1420
heya! with #1510 environment && app deletions should no longer require profiles so it should remove this confusion :)

[2020-10-15 19:11] jaredpalmer opened #1511 "Branch deploy? Per-env (dev/qa/prod) vars from SSM?"
I am a running a Docker Dropwizard Kotlin app on Fargate right now and deploying via AWS CLI. I currently only use Fargate for production, but I am wondering if copilot plus codedeploy can handle the following Vercel/Heroku-style branch deploy architecture:

- push to master branch on github => test => build => push image => deploy to production at `api.example.com` (prod IAM policy and SSM creden

[2020-10-15 19:43] huanjani commented on #1452
Validate and Ask -- #1439
Execute-- #1461
`app delete`-- #1461

[2020-10-15 19:43] #1452 closed, assigned to nobody

[2020-10-15 20:17] iamhopaul123 commented on #1511
Hello @jaredpalmer. Glad to hear you are trying Copilot. Hopefully our tool is easy enough for the migrating.

In terms of branch deploying I think our pipeline feature allows you to automatically deploy your container application with different branches, and ALB is shared within services deployed in the same environment. Here's an [tutorial](https://aws.amazon.com/blogs/containers/automatically-d

[2020-10-15 20:19] jaredpalmer commented on #1511
@iamhopaul123 Ahh I missed the new docs site! Checking it out now.

[2020-10-15 20:48] dragonsmith opened #1513 "env creation hangs up"
Hey!

**The problem:**
I'm trying to deploy my application using copilot

The first step I make is: `copilot app init example --domain bar.example.com` If finishes successfully.

Next, I'm trying to run `copilot env init --name test`, and it hangs up in the end during the "Linking account" stage.

[code]

I've checked the AWS CloudFormation console, and I see that there are two new stacks:
* `exam

[2020-10-15 20:56] efekarakus commented on #1513
Heya @dragonsmith 👋

I'm so sorry to hear `env init` is hanging!
* Do you see any CloudFormation events in the stack set instance that might hint at what could be the problem?
  ![Screen Shot 2020-10-15 at 1 54 08 PM](https://user-images.githubusercontent.com/879348/96184893-eeb7e800-0eed-11eb-933b-a4c672241963.png)

* Or alternatively, maybe the reason is listed under the "StackSets" tab, would y

[2020-10-15 23:21] kohidave commented on #1513
One thing to note about account linking is that it can take up to two minutes - this happens in a StackSet stack (this is because we create a KMS key which takes around two mins to create). How long was it hanging?

[2020-10-15 23:29] LumaKernel commented on #1513
Hi, I'm glad to see this issue, I'm encountering similar issue!

In my case, all of Stack are properly set up, but StackSet Operation stuck in running state over 1 hour... And then if I stop that by hand, it also stuck with stopping state over hours and hours.

I encountered this with root account and IAM that has Administrator Access in two accounts.

![image](https://user-images.githubuserconten

[2020-10-15 23:31] samuelthan commented on #1457
Love this feature to be incorporated :)

[2020-10-15 23:58] LumaKernel commented on #1513
Stuck again today... !
<details>
<summary>Screen captures</summary>

![image](https://user-images.githubusercontent.com/29811106/96197051-e910df80-0f8b-11eb-92f8-4dff0e1c7079.png)
![image](https://user-images.githubusercontent.com/29811106/96197147-2d03e480-0f8c-11eb-9bf9-27820ba1354f.png)
![image](https://user-images.githubusercontent.com/29811106/96197481-2aee5580-0f8d-11eb-92de-84ffb5470dc2.png

[2020-10-16 00:01] kohidave commented on #1513
Thank you for the detailed feedback and I'm so sorry you're encountering this issue. This is definitely super strange, I'll take a look!

[2020-10-16 00:20] kohidave commented on #1513
Would you two mind emailing me your account ID to killmond@amazon.com please?

[2020-10-16 00:32] LumaKernel commented on #1513
@kohidave No ploblem. I will send from this account's email. Thank you.

[2020-10-16 01:07] kohidave commented on #1513
Hi friends - thank you so much for your patience. I've reached out to the CloudFormation team and they've confirmed this is an issue on their end. I'm working with them to get a fix deployed ASAP 🙏

I'm super sorry for the inconvenience - I'll make sure to follow up when the fix is out.

[2020-10-16 02:03] snowsky opened #1515 "feature request: ALB supports Host Header"
Copilot only supports "Path Pattern" now. We got a requirement to add a host header to ALB rule. Can the cloudformation resource codes be customized to do do?

[2020-10-16 02:14] kohidave commented on #1515
Hi! Thank you so much for reaching out :D

So host headers work best if your ALB has a custom DNS name. If you configure your [app](https://aws.github.io/copilot-cli/docs/concepts/applications/#additional-app-configurations) with a DNS name - then Copilot will switch to using `host` based routing.

Your endpoints will go from:
`http://alb-generated-url.elb.us-east-1.amazonaws.com/service-name` to

[2020-10-16 02:52] kohidave commented on #1511
I think Copilot today is going to be a little awkward with branch deploys / CI today. Let me chat with the team in the morning and try to list the gaps we see and what it'd take to bridge them.

[2020-10-16 12:41] jaredpalmer commented on #1511
Thanks. I think this is a major feature ppl will want. It’s extremely hard to replicate by hand on AWS at the moment

[2020-10-16 13:27] dragonsmith commented on #1513
@kohidave Hey!

Sorry, I was able to get back here only now. Thank you very much for such a blazingly fast response! Do you still need any data from me (like account id/screenshots of the stack itself) or the situation seems to be clear right now?

[2020-10-16 16:35] Fodoj opened #1516 "Feature proposal: set CodeBuild compute size"
Currently the CodeBuild phase defaults to the smallest compute instance. The only way to change it is to do it outside of the Copilot. Would be nice to be able to set this parameter in pipeline spec, for example.

[2020-10-16 19:46] Envek commented on #1507
Worked around this by using [Step Functions to run ECS tasks](https://docs.aws.amazon.com/step-functions/latest/dg/sample-project-container-task-notification.html).

Aside from fixing permissions problem (as starting execution of step function doesn't require `iam:PassRole`), it also allows to restart tasks on failure and terminate on timeout (and gives control on restarts and timeouts), so it eve

[2020-10-16 23:52] bwarren2 commented on #730
Bump!  I would be interested in the other answers here.

[2020-10-17 01:08] kohidave commented on #1513
No you're ok @dragonsmith :D

I believe the issue should be resolved now, let me know if you're still running into problems!

[2020-10-17 01:22] LumaKernel commented on #1513
It seems to be fixed now to me!

[2020-10-17 21:44] kohidave commented on #1513
I'm going to close this issue now, @dragonsmith - please don't hesitate to reopen it if you're still encountering the problem! Thanks again for playing with Copilot, happy building !

[2020-10-17 21:44] #1513 closed, assigned to nobody

[2020-10-18 23:04] kohidave commented on #730
Hello! Ok, let me take a stab at answering some of these

I can answer this now a little easier - so as you may have noticed, we've renamed from `ecs-cli v2` to `copilot`. The reason being that we've decided to solve different problem than v1. V1 was good at letting you take a compose file, and run it on ECS. That's helpful - but we've found that ECS provides the most value when it works in concer

[2020-10-19 21:57] kohidave commented on #1177
We could allow you to configure other image repositories as source actions in CodePipeline - that could be awesome. That's super useful even for base images.

[2020-10-20 10:19] Envek commented on #1298
Faced this issue too:
[code]

Can it be related to access rights? Because I successfully deployed that same application in my personal account in the same `ap-northeast-1` region two-three weeks before, but it refuses to deploy into organization account (however, IAM role said to have admin access).

<details>
<summary>Copilot logs</summary>

1. `app init `

[code]

2. `copilot env init --name tes

[2020-10-20 12:20] Envek commented on #1298
What is interesting, my previous attempt to create environment in my personal account successfully created load balancer in availability zones `ap-northeast-1c` and `ap-northeast-1a`.
<details>
<summary>See screenshot</summary>

![image](https://user-images.githubusercontent.com/264400/96584018-46879200-12e6-11eb-9115-b742d5c10eb1.png)
</details>

But as far as I can understand from [Copilot manif

[2020-10-20 12:41] otariidae commented on #1298
FYI:

`ap-northeast-1b` is an Availability Zone. Availability Zones could differ with AWS accounts.

`apne1-az3` is an AZ ID. AZ IDs are unique in every AWS accounts.

To see AZ IDs for your AZs run `aws ec2 describe-availability-zones`.

`apne1-az3` does not support Application Load Balancer.

Newer created AWS accounts may not have the AZ for `apne1-az3`.

[2020-10-20 12:56] Envek commented on #1298
Thank you for clarification! AZ names are equal in my personal and organizational accounts.

Is there a way to somehow disable certain AZ in account? I can't see such a possibility…

[2020-10-20 13:25] otariidae commented on #1298
No way to disable certain AZ.
Copilot automatically select AZs by default even if they contain `apne1-az3`.

It boils down to [my first comment](https://github.com/aws/copilot-cli/issues/1298#issue-681729120) if you use Copilot v0.3.0.

Copilot v0.4.0 can import existing subnets:

[code]
https://aws.github.io/copilot-cli/docs/commands/env-init/

[2020-10-20 15:39] Envek commented on #1298
Yes, I even copy-pasted VPC and subnets creation logic from Copilot and created the following CloudFormation template to automate this:
<details>
<summary>copilot/custom-vpc-subnets.yml</summary>

[code]
</details>

And invoke it with following command:

[code]

And then create environment itself:

[code]

Choose `No, I'd like to import existing resources (VPC, subnets).` and choose VPC created by

[2020-10-20 16:13] efekarakus commented on #1516
Heya @Fodoj ! Are you running into some sort of issues/performance bottleneck with the default minimum configuration?

[2020-10-20 16:16] nao-kagayaki opened #1530 "Feature Request: Add ELB logging configuration when Load Balanced Web Service Type"
Hi, I  assessed the copilot to use copilot for my future project.
In production use,  log of the Elastic Load Balancing is crucial for trobleshooting.
Could you tell me whether if you plan to add ELB logging configuration features? If not I would like to request this feature.

[2020-10-20 16:48] efekarakus commented on #1507
wow very cool 🔥 thanks for sharing with everybody @Envek !!

I'll close the issue for now, ps: we have a new `copilot job` (https://github.com/aws/copilot-cli/issues/1131) command family coming soon which does similar retry/timeout work but for periodically scheduled workloads

[2020-10-20 16:48] #1507 closed, assigned to nobody

[2020-10-20 17:08] efekarakus commented on #1530
Heya @nyamada43 !

This would be a new feature request for us!
Do you have any practices in particular that you follow for elb logging configuration? For example around log retention.

This might be helpful for us to look for implementation: https://github.com/awslabs/aws-cloudformation-templates/blob/master/aws/services/ElasticLoadBalancing/ELB_Access_Logs_And_Connection_Draining.yaml#L403-L426

[2020-10-20 19:07] Envek commented on #1188
Here is manual on how to add custom domain for deployed application manually:

 a. Issue SSL certificate via [ACM](https://console.aws.amazon.com/acm/home) for your `your.route53.managed.domain`
 b. Bind this certificate to ALB HTTPS listener in [EC2→Load Balancers](https://console.aws.amazon.com/ec2/v2/home#LoadBalancers) (you will need to create HTTPS listener if you didn't use `--domain` option

[2020-10-20 20:48] Fodoj commented on #1516
@efekarakus currently the build of the app where I am using copilot takes ~8-9 minutes on the minimum configuration (it's a very simple Rails application, minimal set of static assets to compile etc). I can imagine the that running integration tests could also be slow for big test suites.

[2020-10-20 21:37] huanjani opened #1532 "chore: extract repeated `package` methods into `pkg` package"
`job package` introduces repetition of methods. These can be extracted from `job_package` and `svc_package` and put into a `pkg` package.

Related: https://github.com/aws/copilot-cli/pull/1512

[2020-10-20 22:12] efekarakus opened #1533 "chore: improve how we detect if env roles are retained"
In https://github.com/aws/copilot-cli/pull/1510#discussion_r505885042, the `env delete` command detects if the EnvManagerRole or the CFNExecRole are retained by looking if the template contains the following substring:
[code]
Therefore if we ever change the order the field declarations in one of these roles, for example:
[code]
The CLI will fail to detect if the role is retained.

**The goal of th

[2020-10-20 22:33] #1420 closed, assigned to nobody

[2020-10-21 13:27] anish-dcruz opened #1535 "Incorrect enviromnent variables and secrets in test task definition"
I used my company test aws account to initialize copilot with test and a prod env with production aws account.

Here is the simplified manifest.yml

[code]

[code]

[2020-10-21 14:54] anish-dcruz commented on #1535
I belive the issue is same https://github.com/aws/copilot-cli/issues/1458

[2020-10-21 16:42] iamhopaul123 commented on #1535
Hello @anish-dcruz, we're working on this issue now this sprint and should be fixed soon!

[2020-10-21 16:47] iamhopaul123 commented on #1458
Thanks @brudil for bring this up! We are able to reproduce the issue and working on a fix to it.

[2020-10-21 17:10] anish-dcruz commented on #1458
@iamhopaul123 thanks. Is there a workaround to the issue until the fix is released?

[2020-10-21 17:36] iamhopaul123 commented on #1458
Unfortunately I cannot think of any easy way to workaround this issue.

Possible workaround:

1. Put test and prod env in different applications and make two identical services deploying to each of them.

2. If you are not using the pipeline then this env override issue might not happen.

[2020-10-21 18:18] iamhopaul123 opened #1536 "pipeline init multi env select"
Currently when doing `copilot pipeline init`, it prompts you to choose to add one environment and then prompts if you'd like to add another one. It would be easier to choose if just allowing them to do a multi select on those environments.

Now:
[code]

Proposed:
[code]

[2020-10-21 18:20] kohidave commented on #1536
How will ordering work?

[2020-10-21 18:32] iamhopaul123 commented on #1536
Ah that's a good point. If only the multi select supports ordering like
[code]

[2020-10-21 20:32] iamhopaul123 opened #1542 "app/env command logging needs to be updated for job type"
When we do `app init`, it is logging like this
[code]

However, since jobs will be supported soon we should update those logging accordingly.

Similarly, when we do `env init`:
[code]
which also only mentions "service".

[2020-10-21 20:32] bvtujo opened #1543 "UX improvement: more readable errors for svc init & job init when no app in workspace"
Currently, when you try to run `copilot svc init` without an app in the workspace, the error message is super opaque.

[code]

This happens because the "appName" variable is "" and it's failing a validation check. We should intercept this and fail gently, then prompt customers to run `app init` or `copilot init`.

[2020-10-21 20:38] efekarakus opened #1544 "The deploy command should also work for jobs"
### Ask

Currently, the `copilot deploy` command only deploys services but it should also be usable to deploy jobs!

[2020-10-21 20:43] efekarakus opened #1545 "Add documentation for jobs"
### Ask

We should add documentation under "site/" for the job concept, manifest, and individual commands.

### How
1. The documentation can be built locally by installing Mkdocs: https://www.mkdocs.org/#installation (I personally installed using pip)
2. Then from the root of the repo run `mkdocs serve --dirtyreload` that should take like a minute to build and the site should be available on local

[2020-10-21 22:27] #1458 closed, assigned to iamhopaul123

[2020-10-21 22:27] #1535 closed, assigned to nobody

[2020-10-22 14:23] nao-kagayaki commented on #1530
Thank you for your comment @efekarakus

I think in many cases I want to set LifeCycleConfiguration to match log preservation policies of businesses.
Although this is not must for production use, it would be nice if it's supported in the future.
https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-bucket-lifecycleconfig.html

To elaborate on my image, if the user selects

[2020-10-22 23:32] bvtujo opened #1559 "EFS Support for Copilot"
This issue is meant to track the ongoing development of EFS support for Copilot.

## Milestones
* [x] New CF template written for Mount Points and Volumes, allowing external EFS file systems
* [x] New Cloudformation template written for EFS at the environment level
* [x] New Cloudformation template written for managed EFS (access points at service level, IAM policy changes)
* [x] Update the Env Co

[2020-10-22 23:32] bvtujo commented on #1559
Related #1166

[2020-10-22 23:33] #1542 closed, assigned to nobody

[2020-10-23 03:31] iamhopaul123 opened #1562 "env show dash line should be in the same length as the longest"
`$copilot env show`

[code]

Dash line should be in the same length as the longest in the column. For example, dash line in "Key" column should be as long as "copilot-application".

[2020-10-23 04:20] efekarakus commented on #1545
Resolved with https://github.com/aws/copilot-cli/pull/1553

[2020-10-23 04:20] #1545 closed, assigned to nobody

[2020-10-23 07:30] revmischa commented on #1324
I ran into this as well, had to manually create ECS role. Running `init` again didn't help.

[2020-10-23 11:44] ye-lin-aung opened #1563 "[Question] How can we specify cpu and memory limit to one off tasks"
Hi,
How can we specific the cpu and memory for one-off tasks. Is there any env variables or options to do that? Is there any one line command to specify that ?

 copilot task run      \
  --default             \
  --follow              \
  --image alpine:latest \
  --command "echo 'Howdy, Copilot'"

[2020-10-23 16:11] kohidave commented on #1563
Yea! You sure can via the `--memory` and `--cpu` flags. So, for example:

[code]

You can read more about task-run and the flags available here:
https://aws.github.io/copilot-cli/docs/commands/task-run/

Hope that helps!

[2020-10-23 16:57] Envek opened #1565 "Can't use number parameters in addon templates and pass them to integer fields with !Ref"
If I specify parameter of type `Number` in addon template and use it with `!Ref` in a field that requires integer, `copilot deploy` will fail:

[code]

It is convenient to use parameters to DRY values in templates and keep them app configuration in sync with infrastructure:

[code]

But if I execute this template with `aws cloudformation create-stack` it will be created successfully.

Related issu

[2020-10-23 17:05] ye-lin-aung commented on #1563
Thank you. It works now

[2020-10-23 17:05] #1563 closed, assigned to nobody

[2020-10-23 17:45] revmischa opened #1567 "How to use with TCP load balancer?"
I have a websocket service I'd like to launch with copilot, but I need a TCP/TLS load balancer in front. How can I do this with copilot?

[2020-10-23 17:49] efekarakus commented on #1565
Heya @Envek !

Like you pointed out this is an underlying issue with the goformation library that we use :( we have a backlog item to write our own custom logic to avoid these errors.

Sorry about the inconvenience!

[2020-10-23 17:51] efekarakus commented on #1565
Related https://github.com/aws/copilot-cli/issues/1402

[2020-10-23 17:56] efekarakus commented on #1567
Heya @revmischa !

Unfortunately, Copilot does not support Network Load Balancers at the moment :(
We have a tracking issue: https://github.com/aws/copilot-cli/issues/1304 and are making progress towards it in our current sprint but I can't think of a way of unblocking you currently.

[2020-10-23 17:58] revmischa commented on #1567
Okay thanks. Does it support HTTPS listeners for ALBs? Nobody should be deploying web services without HTTPS these days.

[2020-10-23 18:00] efekarakus commented on #1567
Yes! with `copilot app init --domain` you can provide an existing domain name and get an HTTPS endpoint.

Our teammate @kohidave has a tutorial here demonstrating how to get started: https://github.com/kohidave/dns-and-lb-copilot-demo

[2020-10-23 18:17] kohidave commented on #1567
Yea and to just add on to what Efe mentioned, ALBs support websockets (you can enable session stickiness as well)!

[2020-10-23 21:03] revmischa commented on #1567
I don't see any configuration for HTTPS though here https://github.com/kohidave/dns-and-lb-copilot-demo/tree/mainline/copilot
I guess it only works when you init the app? What if my app is already created?

[2020-10-23 22:30] bvtujo opened #1572 "Can't use `image.location` field with Scheduled Jobs"
In Copilot v0.5.0, specifying an image location in a Scheduled Job manifest will cause the Cloudformation deployment to fail. We're working on the fix in #1571.

In the meantime, you can get around this by specifying a minimal Dockerfile like so:
##### Job.dockerfile
[code]

and then running `copilot job init --dockerfile ./Job.dockerfile`.

[2020-10-24 03:47] kohidave commented on #1567
Yea :( unfortunately it's not easy to add the DNS after the fact. We have plans on fixing this though:

https://github.com/aws/copilot-cli/issues/1188

[2020-10-24 10:42] nao-kagayaki commented on #1562
Hi @iamhopaul123

This is my first time to contribute to the OSS, but I would like to submit a PR for this simple issue to fix at first.

[2020-10-24 19:20] revmischa commented on #1559
Regarding 2. -
Do you think you're going to eventually recreate the ecs-cli `ecs-params.yml` file? And docker-compose config?

[2020-10-24 23:49] snowsky commented on #1515
Thanks @kohidave for the prompt response and sorry for my late follow-up 👍

A quick question, how could I configure to add a header in routing rules?

[2020-10-25 11:40] princepathria97 opened #1575 "Support for Github provider v2 in pipeline"
`copilot pipeline init` uses GitHub provider v1 as pipeline source which is not recommended for CodePipeline.
Please add support for Github provider v2 which uses AWS CodeStar connections.
ref. https://docs.aws.amazon.com/codepipeline/latest/userguide/connections-github.html

[2020-10-25 16:45] kohidave commented on #1575
Hi there! Thanks so much for reaching out.

Yea, we need to move off of the polling GH source action. We're tracking our move to CodeStarConnections here: https://github.com/aws/copilot-cli/issues/1339

Appreciate you taking the time to reach out!

[2020-10-26 17:36] #1331 closed, assigned to nobody

[2020-10-26 18:21] #1562 closed, assigned to nobody

[2020-10-26 21:52] #1499 closed, assigned to SoManyHs

[2020-10-27 02:16] #1472 closed, assigned to nobody

[2020-10-27 02:17] efekarakus commented on #1535
Heya @anish-dcruz the fixed was released last Friday (10/23) with v0.5.0: https://github.com/aws/copilot-cli/releases/tag/v0.5.0 !

[2020-10-27 02:18] efekarakus commented on #1458
Heya @brudil the fixed was released last Friday (10/23) with v0.5.0: https://github.com/aws/copilot-cli/releases/tag/v0.5.0 !

[2020-10-27 02:21] efekarakus commented on #1177
Heya everyone! We released v0.5.0: https://github.com/aws/copilot-cli/releases/tag/v0.5.,0 which supports the new [`image.location` field](https://aws.github.io/copilot-cli/docs/manifest/lb-web-service/#image-location) that allows you to use an existing image instead of building from a Dockerfile.

[code]

[2020-10-27 02:21] #1177 closed

[2020-10-27 04:02] bvtujo commented on #1559
@revmischa we always try for a balance of opinionated and customizable, so I suspect when we start adding more fields that can affect the task definition they'll be driven more by the high level functionality our customers need than a one to one correspondence like `ecs-params.yml`. I think the [Docker Compose CLI](https://github.com/docker/compose-cli) is doing exciting things along that axis tho

[2020-10-27 09:18] sanjeevtejyan opened #1579 "Copilot doesn't provide ability to enable cloudwatch performance monitoring of cluster."
To enable cloudwatch for copilot rolled-out cluster, one has to execute aws command manually to enable the cloudwatch to monitor the performance of individual task and service. But it can be made part of configuration when a ECS cluster is setup.

[2020-10-27 09:40] sanjeevtejyan opened #1580 "copilot svc deploy keep running due to task healthcheck failure"
when svc deploy is triggered and if task failed to run due to some issue in underlying code and healthcheck, then its keep failing for a long time. If command is terminated manually and retry the copilot svc deploy then it will fail as stackset update is in progress and it will run for hours. Thus one has to manually give command to rollback the stackset update. There should be ability to set the

[2020-10-27 10:46] anish-dcruz commented on #1535
Thanks everyone for the awesome work 😍

[2020-10-27 14:42] brudil commented on #1458
Amazing, thanks for this project!

[2020-10-27 15:27] efekarakus commented on #1579
Heya @sanjeevtejyan !

To make sure that I understand the request correctly, do you mean you're looking for a way of enabling [ECS CloudWatch Container Insights](https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Container-Insights-metrics-ECS.html) with Copilot? Or are you asking about different metrics?

Thanks!

[2020-10-27 16:00] kohidave commented on #1559
Howdy ya'll - that's a great question. I think the way we're thinking about approaching this is by allow folks to specify task-definition overrides directly in the manifest. We're tracking this issue here: https://github.com/aws/copilot-cli/issues/948

I think that'll open up a lot of advanced features that folks want.

[2020-10-27 16:31] sanjeevtejyan commented on #1579
yes that is correct. Can we hook any other metric to measure the performance of the cluster?

[2020-10-28 17:33] johnrlowry opened #1582 "TargetGroup for Port 443 uses HTTP Protocol instead of HTTPS"
What changes do I need to make to the manifest to create a targetgroup that listens on port 443 protocol HTTPS instead of on port 443 protocol HTTP?

I created my app using `copilot app init --domain my.example.com`

Here's my manifest:

[code]

[2020-10-28 17:47] adamjkeller opened #1583 "Move copilot version and unit test configurations to pipeline.yml"
Problem:

Presently, if one wants to add unit tests (or modify the version of copilot) to a pipeline, they need to modify the buildspec.yml. This can be problematic as the buildspec is loaded with copilot opinionated logic, which one can easily break unknowingly. This is especially difficult for the user experience if they have no understanding of codebuild.

Solution:

Move any user inputs/overri

[2020-10-28 17:51] mwarkentin opened #1584 "Buildpack support"
It would be nice if copilot supported [Cloud Native Buildpacks](https://buildpacks.io/) as an alternative to raw Dockerfiles for container builds. Managing raw Dockerfiles feels like a bunch of undifferentiated heavy-lifting / education for developers.

Some of the features they tout:

[code]

[2020-10-28 18:08] kohidave commented on #1582
Hey there! I'm just curious - why do you want to change your target group port? When you provide a domain to copilot, we'll provision an ACM cert, assign it to your loadbalancer, and terminate TLS at the load balancer level. That way your service doesn't have to do any TLS termination.

[2020-10-28 18:09] kohidave commented on #1584
We actually have a prototype of this working and are keen on fleshing it out and adding it into Copilot. We don't have a timeline yet but we're super excited for it 😃

[2020-10-28 18:28] johnrlowry commented on #1582
Technically, I'm not trying to change the port. I'm trying to change the protocol.

My application listens on port 443 however, the ALB is sending traffic from the load balancer to port 80 on the container. I opened a ticket with AWS support and they identified this as the problem. If I create a targetgroup that uses HTTPS as the protocol instead of HTTP and then change the forwarding rules to poi

[2020-10-28 19:02] iamhopaul123 opened #1585 "Job delete doesn't tear down all the tasks"
Currently, when we do `job delete`, it doesn't stop and all the tasks brought up but `job deploy`. This could cause `env delete` fail because there are still active tasks in the cluster.

[2020-10-28 19:38] iamhopaul123 commented on #1582
Hey @johnrlowry I just tested my own service which exposes port 443, and it works well. I wonder if it is because your service is expecting a tls connection?

[2020-10-28 20:36] johnrlowry commented on #1582
Yes the service is expecting tls from the load balancer. Is this not possible with copilot today?

[2020-10-28 20:41] iamhopaul123 commented on #1582
Gotchu. Yeah it is not available yet in copilot. Could you elaborate your use case of using tls connection within? We have a plan of adding NLB as another service pattern. I am wondering if that could help.

[2020-10-28 20:47] kohidave commented on #1582
I'd also say that most Copilot services don't need to do TLS termination since we handle that at the load balancer level. You should be able to turn off TLS handling in your service and let the Application Loadbalancer Handle everything for you.

[2020-10-28 23:21] Fodoj opened #1586 "Spot usage"
What's the recommended way to enable Spot usage? I saw that provider is there already - https://github.com/aws/copilot-cli/commit/0c20b23325a3515e490accfd232de6d02f06849c, but not in use. Would be great to be able to specify it somewhere.

[2020-10-28 23:49] efekarakus commented on #1586
Heya @Fodoj !

We'd love to learn more how you'd like to use Fargate Spot.
Are you looking to use it in your services with autoscaling? Liked described here: https://github.com/aws/copilot-cli/issues/1154 under **Spot Capacity**
Or were you looking to use `task run` on a spot task?

Let us know if you have a particular usecase in mind!

[2020-10-29 07:38] Fodoj commented on #1586
I have two services - primary web application and a background worker, both are services without single copilot app.

At least in staging environment I would like to run it 100% on spot. In production may be 50/50, but I don’t new auto scaling right now.

I guess I can also setup “auto scaling” with spot, ranging from 2 tasks to 2 tasks, so that there are always 2 tasks running?

[2020-10-29 07:58] hffmnn commented on #1411
Just to be clear: So far there are no options to add AuthN via ALB and it should be implemented in the containerized app itself? Or is it already possible to do that via an addon?

[2020-10-29 09:13] jnnkky commented on #1400
This causes the same failure. Changing the tag doesnt do anything for me.

[2020-10-29 12:31] mwarkentin commented on #1584
Very cool!

[2020-10-29 15:07] efekarakus commented on #1411
@hffmnn currently it'd be by handling in your containerized app!

[2020-10-29 17:17] efekarakus opened #1588 "Host a Docker image for the CLI"
Similar to the AWS CLIv2 https://docs.aws.amazon.com/cli/latest/userguide/install-cliv2-docker.html, we should support a Docker image hosted on DockerHub in the `amazon/copilot-cli` repository.

This is originally a request from the [Gitter chat](https://gitter.im/aws/copilot-cli?at=5f9839017be0d67d279de307):

[2020-10-29 21:04] iamhopaul123 opened #1591 "env init execute shows duplicated log"
<img width="762" alt="Screen Shot 2020-10-29 at 12 44 44 PM" src="https://user-images.githubusercontent.com/51377557/97632316-930e5400-19ef-11eb-867a-e3215e6e70f9.png">

There are two `- Virtual private cloud on 2 availability zones to hold your services and jobs     [Complete]`

[2020-10-30 09:59] jnnkky opened #1593 "Password protect deployed Load Balanced Web services"
I have tried googling and everything and am at a loss. Is it possible to protect public deployments made with copilot-cli with username and password similar to htaccess?

I've been googling for 2 hours but it really seems I cannot find anything and its not possible?

[2020-10-30 11:07] hffmnn commented on #1411
Ok. Thanks for the info.

[2020-10-30 11:42] jnnkky commented on #1593
closing in favour of #1411

[2020-10-30 11:42] #1593 closed, assigned to nobody

[2020-10-30 14:05] alex-all3dp commented on #1453
We would also greatly benefit greatly from such a feature!

@efekarakus  Would it then also be possible to define custom security groups as an add-on and reference them in the manifest in order to being assigned to the load balancer?

[2020-10-30 17:48] bvtujo opened #1595 "Storage Init doesn't show jobs in list of services"
When you create a job in a copilot workspace, then run `copilot storage init`, the job is not found, as the storage command only looks for local services.

[2020-10-30 19:27] #1464 closed, assigned to nobody

[2020-10-30 19:48] dinnouti opened #1598 "Docker composer?"
Is it possible to user docker composer with copilot? If yes, is there an example?

[2020-10-30 21:14] flyinprogrammer opened #1599 "Docker build args sourced from Shell environment variables"
So we'd like to have copilot source environment variables from the shell that copilot is run in as build arguments into the docker build command. And it either already does this, and I am dumb, or it does not.

In my mind some form of the following might work:

manifest.yml:
[code]

In my shell:

[code]

I thought maybe, perhaps, we were clever and ran the manifest file through go template before

[2020-10-30 22:18] bvtujo commented on #1599
Hey @flyinprogrammer, you're right that Copilot doesn't do this currently. This is a super interesting use case though, so thank you so much for bringing it to our attention.

Also, you're right that we run `docker build` under the hood and it's not great to require that you expose your secrets in the manifest if you have to pass them in as build args.

Depending on your use case, though I can thi

[2020-10-30 22:28] iamhopaul123 commented on #1453
Hello @alex-all3dp, why do you want to have security groups defined as addons (like what do you use them for)? Could you provide us more detailed use cases for that? Currently we already have a security group for the ecs service that allows traffic from load balancer and self.

[2020-10-30 22:41] #1536 closed, assigned to nobody

[2020-10-30 22:49] bvtujo commented on #1598
Hi @dinnouti, Docker Compose currently doesn't integrate with Copilot; however, you can use the [ECS integration in the `docker-compose` cli](https://docs.docker.com/engine/context/ecs-integration/) to run containers on ECS using docker compose syntax!

If you specifically need to use `docker compose` to run tasks in the cloud, that's your best bet! If you just want a simple interface to get your

[2020-10-30 23:03] #1572 closed, assigned to nobody

[2020-10-30 23:03] bvtujo commented on #1572
Resolved by #1571

[2020-10-30 23:24] efekarakus opened #1601 "How to fix "cannot upgrade environment due to missing vpc configuration""
Hello y'all!

First of all, we're really sorry that you're running into this error 🙇‍♂️.
This error means that Copilot tried to upgrade the CloudFormation template of a customized environment that was created prior to the fix #1433. This issue outlines how you can adjust your environment configuration to make this error go away.

### Why is this happening?
Copilot is adding mechanisms to support n

[2020-10-30 23:24] #1601 closed, assigned to nobody

[2020-10-31 01:43] dinnouti commented on #1598
Thanks!

[2020-10-31 01:43] #1598 closed, assigned to nobody

[2020-11-01 04:24] devvaneio commented on #1166
Can I use a existing S3 bucket?

[2020-11-01 07:19] sundarnarasiman opened #1605 "REST api support for Copilot"
Many GSI and ISV partners have built their own Container Management Platforms on top of Amazon ECS. The GSI partners are ready to augment their Container Management Platforms with Copilot features. However they don’t want to complete replace their home-grown container management platforms with Copilot. The best solution is to marry both the worlds. If Copilot can expose its functionalities (CRUD o

[2020-11-01 07:54] sundarnarasiman opened #1606 "Running Copilot init second time gives error"
This is during the scenario of running Copilot init command. We can run 'copilot init' command on a completely developed co-pilot application, like the voting app below.

Voting app
-------------
https://github.com/copilot-example-voting-app/vote
https://github.com/copilot-example-voting-app/results
https://github.com/copilot-example-voting-app/api

If we run the 'copilot init' second time it fail

[2020-11-01 07:54] sundarnarasiman commented on #1606
This is a valid use case.

[2020-11-01 07:57] sundarnarasiman opened #1607 "Copilot support for private git repositories"
We can run 'copilot pipeline' commands to set up AWS CodePipeline for ECS microservices using Copilot. Currently it supports only a public git repository by supplying the git secret keys. It needs to support a private git repository which is setup for SSH access. This is a common use, where many teams want to use git private repositories.

[2020-11-01 09:06] sundarnarasiman opened #1612 "Ability to import docker-compose defintion and convert them as Copilot app and services"
Docker compose is commonly used for local development and testing. We need an ability for Copilot to import Docker Compose files and convert them as Copilot native app and svc objects, in a guide way. This will be a big boost for developers.

[2020-11-01 09:13] sundarnarasiman opened #1613 "Ability to import kubernetes pod, svc manifests and convert them to ECS native objects task and services"
There are customers looking to migrate from on premise or self-managed Kubernetes to AWS. Some of them want to explore ECS for simple (or) medium Kubernetes applications. If Copilot can offer a feature that can take kubernetes pod and svc manifests & convert them to ECS native objects such as tasks and services, it will be a big value add. This will reduce cycle time for migration of simple and me

[2020-11-01 09:20] sundarnarasiman opened #1608 "Update documentation to reflect Copilot support for Windows Sub System for Linux in Windows 10"
Majority of enterprise developers use Windows 10 as the primary desktop operating system. We know that Copilot is not natively supported in Windows 10. However in Windows 10, Copilot can be leveraged using Windows Subsystem for Linux (WSL). We have tested this and it works fine. The Windows 10 developers should set up the following:

1.	Enable Windows Subsystem for Linux
2.	Set up a most popular d

[2020-11-01 09:21] sundarnarasiman opened #1614 "Copilot integration with container insights"
Currently Copilot Logs are integrated with ECS Task logs or Docker logs. It's not integrated with CloudWatch Container Insights. We need this capability. This will be very useful for DevOps Engineers and Cloud Infra Specialists.

[2020-11-01 09:42] sundarnarasiman opened #1609 "IDE Integration for Copilot"
AWS Copilot is a powerful CLI tool that improves the developer experience. Having an integration with IDEs such as Visual Studio, Visual Studio Code, Eclipse and IntelliJ would be even more powerful. This would offer a seamless experience to developers. This would increase developer productivity and cycle time for developing and deploying ECS micro-services.

[2020-11-01 09:51] sundarnarasiman opened #1610 "Copilot svc delete command does not remove associated dynamodb table and IAM roles"
Generally a Copilot service can be configured with a storage like Amazon DynamoDB. When we configure a Amazon DynamoDB storage using 'storage init' commands it creates Amazon DynamoDB table and bunch of IAM roles. When we try to delete this service (configured with Amazon DynamoDB), it does not delete the associated Amazon DynamoDB table and IAM roles. This is probably due to the absence of delete

[2020-11-01 09:56] sundarnarasiman opened #1611 "Missing ls, package, deploy, delete, show, status and logs for svc commands"
Currently Copilot only supports init commands on storage object. It does not support other commands such as ls, package, deploy, delete, show, status and log like other Copilot objects. This features needs to be implemented ASAP. The persistence is such a key aspect of every micro-service. Nowadays no microservice is without persistence. This feature needs to be implemented ASAP.

[2020-11-01 15:23] sundarnarasiman commented on #1608
This will be a big value add to the developer community. They are currently thinking that developers having Windows 10 cannot use Copilot.

[2020-11-02 03:54] npb12 opened #1615 "Can't successfully deploy app with copilot"
I have a docker container for a small django project that I'm trying to deploy.

After running

[code]

Everything builds correctly, but the deploy seems to get stuck and doesn't complete (hangs indefinitely).
No targets are registered to the target group and the url for the load balancer returns a 503.
Here's the final output

[code]

My Dockerfile

[code]

The cloudformation showing where it ult

[2020-11-02 04:50] kohidave commented on #1615
Hey hey! So sorry about this! Usually this means the task is failing to start in ECS. If you open up the ECS console, select your service and take a look at the logs, it'll tell you why it's failing to start your container.

You can look at all the stopped tasks in your service and it'll show you why it's failing. Select your service, open the tasks tab, and select "stopped".

To stop the CloudFor

[2020-11-02 05:15] npb12 commented on #1615
Thanks for the quick response @kohidave!

The errors all come to this:
 "Essential container in task exited -- Network bindings - not configured"

Does that mean anything significant to you?

Sorry if this is a clear issue I'm missing, I'm new to the aws ecosystem, hence my choice of using copilot :)

[2020-11-02 05:50] kohidave commented on #1615
Oh that makes total sense!!

One thing I noticed - your Dockerfile doesn't look like it's actually starting your Django app. Try adding the following to the end of your Dockerfile:

[code]

To the end of your Dockerfile. (Replace `manage.py` with your main python file - often manage.py is the default, and change the port to match whatever your django process is listening on - 8000 is the default f

[2020-11-02 06:39] alex-all3dp commented on #1453
@iamhopaul123 We would like to be able to modify the default security groups in order to disallow traffic from everywhere but rather restrict inbound traffic to a set of fixed IPs (Cloudflare in our case). Any chance that changing the default security groups would be possible in the near future?

Furthermore our setup would require us to also provide a certificate from ACM to the HTTPS listener on

[2020-11-02 14:18] npb12 commented on #1615
Thank you so much for the help, that worked!

[2020-11-02 14:25] npb12 commented on #1615
So it looks like everything is building correctly, the cli returns a URL and cloudformation completes. However, the target fails to register.

<img width="995" alt="Screen Shot 2020-11-02 at 9 23 59 AM" src="https://user-images.githubusercontent.com/6107456/97878919-44adcd80-1ced-11eb-9d19-b4b832281f21.png">

<img width="1002" alt="Screen Shot 2020-11-02 at 9 25 06 AM" src="https://user-images.git

[2020-11-02 14:58] flyinprogrammer commented on #1599
Yah, the primary use case is that we have private python/java repos that tools like pip and gradle need access to at build time, as we build our code in the container. Building our image outside of Copilot seems reasonable for now.

So this would require us to manage the version in the manifest.yaml file - which is fine, but it still might be nice to have a way to make that dynamic since most of o

[2020-11-02 16:04] kohidave commented on #1615
By default Copilot pings the "/" endpoint to make sure your service is up (health check). That endpoint probably isn't returning a 200.

You can either add a handler fir "/" or change the health check endpoint in your manifest: https://aws.github.io/copilot-cli/docs/manifest/lb-web-service/#http-healthcheck

Let me know if updating the health check works!

[2020-11-02 17:10] npb12 commented on #1615
Getting close, but still getting that error. Should I be changing my Dockerfile EXPOSE statement to 8000? As opposed to 80.

[2020-11-02 17:48] iamhopaul123 commented on #1608
Hello @sundarnarasiman, thanks for providing those tutorial on how to run Copilot on WSL! This is really awesome! To add on it, we also tested Copilot on WIndows 10. It looks like Copilot can work pretty well on Windows Terminal with the Docker Desktop installed. Have you tried that?

[2020-11-02 17:50] efekarakus commented on #1453
Gotcha! That makes sense, for the first usecase we have this existing issue: https://github.com/aws/copilot-cli/issues/1234, which would be low effort for us to prioritize and deliver. Would that satisfy your requirement?

For the ACM cert and HTTPS listener, did you check out `copilot app init --domain` Copilot will do all that for you if you provide it with a domain name

[2020-11-02 18:04] iamhopaul123 commented on #1610
Hello @sundarnarasiman, thank you for your suggestion! Addons and services/jobs are considered as separate modules in Copilot. And usually all the addons resources will be deleted when you delete a service/job. However, we [intentionally](https://github.com/aws/copilot-cli/blob/881d7320e42337db1c8a570b4cd9a362d3d471c6/templates/addons/ddb/cf.yml#L14) don't delete any database addons because we thi

[2020-11-02 18:05] kohidave commented on #1615
You should - but that's just informative (it only helps Copilot understand what port it should route traffic to but doesn't do anything at runtime). What error are you getting now?

[2020-11-02 18:22] iamhopaul123 commented on #1611
Hello @sundarnarasiman, thank you for your suggestion! Storage is considered as an addons module in Copilot, and under the hood addons is in a nested stack to the main workload (service, job). That's the reason why we don't have those commands for storage. However, part of the info about addons is shown in the `svc show` and the logs of the addons will reside in `svc logs`.

[2020-11-02 18:36] npb12 commented on #1615
Still the same issue unfortunately. I added a library django_health_check, thinking maybe it was an issue specific to how django constructs its urls -- to no avail. Not sure what the issue might be. Anything I can be checking to narrow it down?

[2020-11-02 18:57] alex-all3dp commented on #1453
@efekarakus Thank your for your feedback!

Yes, I think the `allow-list` would satisfy our requirements for that use-case

Thanks for the hint, regarding the `--domain` flag, I'll give that a try!

[2020-11-02 19:01] efekarakus commented on #1166
Heya @lusatiro,

You should be able to!
1. You can provide your bucket name as [an environment variable in the manifest](https://aws.github.io/copilot-cli/docs/developing/environment-variables/)
2. You can add an an [addon with the necessary permissions](https://aws.github.io/copilot-cli/docs/developing/additional-aws-resources/) to access the bucket:
[code]
This will attach the `MyAccessPolicy` t

[2020-11-02 19:01] iamhopaul123 commented on #1460
related to #1381

[2020-11-02 19:20] iamhopaul123 commented on #1369
Hello @niros1, we already released the auto scaling feature and it is ready for use. Close the PR for now. Feel free to reopen it!

[2020-11-02 19:20] #1369 closed, assigned to nobody

[2020-11-02 19:25] #1192 closed

[2020-11-02 19:38] iamhopaul123 commented on #1110
Heya @bdwyertech, we just released [v0.5.0](https://github.com/aws/copilot-cli/releases/tag/v0.5.0) and now you can use existing image rather than building it from dockerfile locally by specifying `image.location` in your manifest as:

[code]

Alternatively, either answering questions or providing `--image` flag for `svc init` could help do the trick as well.

Close the issue for now as the featur

[2020-11-02 19:38] #1110 closed

[2020-11-02 19:40] #1093 closed

[2020-11-02 19:42] #1030 closed

[2020-11-02 19:43] #908 closed

[2020-11-02 19:47] bdwyertech commented on #1110
Awesome, thank you! @iamhopaul123

[2020-11-02 19:48] bvtujo commented on #1128
Great news, everyone! As of [Copilot v0.5.0](https://github.com/aws/copilot-cli/releases/tag/v0.5.0) we now support the ability to create, deploy, and operate resilient [Scheduled Jobs](https://aws.github.io/copilot-cli/docs/concepts/jobs/) with timeout and retries using simple UNIX cron or duration syntax. Jobs launched this way will have access to all the other services in your Copilot environme

[2020-11-02 19:48] #1128 closed

[2020-11-02 20:17] bdevore17 commented on #1119
@iamhopaul123 any timeline for this?

[2020-11-02 20:45] kohidave commented on #1615
So when copilot created a URL for you, what happens when you click it or `curl` against it? Do you get a 200?

Here's what I would do - in your django app, I'd create a really simple route that just returns a `200` at the `/` endpoint.

If you're using the [django_health_check](https://pypi.org/project/django-health-check/) library, you have to specify a route for your health check. Typically this

[2020-11-02 20:58] #1429 closed, assigned to nobody

[2020-11-02 21:02] bvtujo commented on #1431
Hi @aviflax, we've just merged in a PR which fixes this issue. We now go looking for the chronologically first error event and append the status reason to the end of the error output.

The following output is due to a nested stack with a malformed DDB table failing to deploy:

[code]

[2020-11-02 21:02] #1431 closed, assigned to bvtujo

[2020-11-02 21:21] srrengar opened #1619 "Desired count doesn't update once autoscaling is removed from the manifest"
Hi I had a load balanced web service that had 10 tasks running due to autoscaling. I changed the manifest to remove autoscaling and set the count to 1, but I still had 10 tasks running even after the traffic that caused the autoscaling to stop.

[2020-11-02 21:40] ryanvade commented on #730
Out of curiosity, would the pipeline commands be at all integrated into GitHub Actions? Would be a bit more difficult but possibly worth it?

This tool is looking great and I think my team will be using it for our next project. :heart: But we only use GitHub Actions for our CI/CD so that may cause some issues.

EDIT: Also, how about other package registries such as GHCR?

[2020-11-02 21:50] kohidave commented on #730
Hey hey @ryanvade ! You can write GitHub actions which use the `copilot deploy --env {env}` commands to automate your releases - you don't have to use the built in Pipelines support. Just out of curiosity, what other kinds of integrations were you thinking of for GH actions? We're eager to support it better, and would love your input!  As for GHCR, I haven't looked too deeply into it yet, so let u

[2020-11-02 22:12] ryanvade commented on #730
Thanks for the quick response! 😎

One thing that comes to mind is updating an ECS service with the "force-deployment" flag enabled but no other changes to the task definition effectively "restarting" the service (not quite the same I know, another instance and all that). We have had to "restart" one service after another is updated kind of thing.  The `aws-actions/amazon-ecs-render-task-definition

[2020-11-03 00:50] #1544 closed, assigned to nobody

[2020-11-03 01:48] #1428 closed, assigned to nobody

[2020-11-03 01:48] #1426 closed, assigned to nobody

[2020-11-03 03:03] npb12 commented on #1615
I get a 503 on curl.

It looks like the culprit at this point could be tied to my postres db not connecting correctly. That's what I see when I run
```copilot svc logs --follow```
Showing
```django.db.utils.OperationalError: could not translate host name "db" to address: Name or service not known```

I think I'll need to clear that up so I can rule that out as the culprit?

[2020-11-03 03:38] aviflax commented on #1431
Very nice!

[2020-11-03 04:21] kohidave commented on #1615
Yea - if that's causing your "/" route handler from accepting requests that'll do it.

[2020-11-03 04:45] npb12 commented on #1615
is docker-compose.yml supported in copilot? That's where I'm setting all of my DB related credentials.

[2020-11-03 15:30] ryanvade commented on #1400
I've run into this issue as well though adding a tag seems to have fixed it. Perhaps since this is using commit sha as tag I should commit before deploying?

[2020-11-03 17:53] bvtujo commented on #1615
Docker Compose configuration isn't recognized by Copilot--for secret configurations, we recommend you use the [`secrets` section of the manifest](https://aws.github.io/copilot-cli/docs/developing/secrets/) to let Copilot fetch your DB credentials from SSM secure parameters so they never show up in plaintext anywhere.

If you have environment variables that don't contain sensitive info, you can spe

[2020-11-03 18:22] iamhopaul123 opened #1621 "Copilot service/job won't get updated when using image with latest tag"
Copilot currently won't be able to update the service/job if users specify any existing image URL with `latest` tag. The reason is because the URL doesn't change and always remain `latest` as its tag. One workaround is to avoid using `latest` tag. From our side introducing `--force` flag would help to some degree.

Related to #1400

[2020-11-03 18:23] iamhopaul123 commented on #1400
Yeah currently Copilot requires you to commit your changes of the repo if you want to deploy any code changes. Under the hood it is detecting the latest commit and changing the image tag.

So if you are building from the local Dockerfile then commit your change and do the redeployment should work. Or like @efekarakus said you could change the tag as well. However, if you are using the existing ima

[2020-11-03 18:30] yanneg opened #1622 "Unable to run the demo app"
Copilot seems unable to provision the necessary infrastructure.

Is there a way to debug this or add some verboseness to the error messages?

[code]

---

OS: macOS 10.15.7
Version: v0.5.0

[2020-11-03 19:02] iamhopaul123 commented on #1622
Hello @yanneg I'm using macOS 10.14.6 with Copilot version v0.5.0. I was not able to reproduce the error. Could you double check your version number for the binary that your `copilot` command is referring to?

Edit: and also could you tell us how did you get the binary? We recommend using either homebrew or our GitHub release page to download Copilot binary (see [here](https://aws.github.io/copilo

[2020-11-03 19:17] #1195 closed

[2020-11-03 19:36] yanneg commented on #1622
@iamhopaul123 copilot is indeed reporting v0.5.0 and it was installed via Homebrew

[code]

However, I tried downloading and running the release manually and it worked!

I'm not sure what to make of this. Perhaps my brew installed version is corrupted? I'll try uninstalling and reinstalling it to see if that helps. If not I can at least fall back to grabbing the release straight from GitHub.

[cod

[2020-11-03 19:36] #1622 closed, assigned to nobody

[2020-11-04 06:05] rajikrishnamoorthy opened #1625 "Provision to get inputs on Task Size while creating ECS"
Services requiring medium to high memory compute fail to get created during **_copilot init_** command since the CPU and Memory is defaulted to 256 units and 512 MB respectively. Once **_init_** command runs completely, we need to update the manifest.yml which in turn updates the task definition to bring up the ECS service. It would be good if **_copilot init_** can ask for CPU and Memory in the c

[2020-11-04 06:16] rajikrishnamoorthy opened #1626 "ECS health check grace period"
Some types of services need more than 60 seconds to come up, manifest.yml does not have a place holder for health check grace period. After **_copilot init_** completes and ECS fails to come up, we need to manually update the parameter in the ECS console.

[2020-11-04 06:33] rajikrishnamoorthy opened #1627 "Target group - Time out and Interval parameters configuration"
The manifest.yml created by copilot init does not have a provision to specify the Targetgroup health check settings - Timeout and Interval. One has to manually update the target group settings, many services do need more than 5 seconds for timeout. Would be good if these parameters can be made configurable.

[2020-11-04 06:56] bdevore17 commented on #1119
@iamhopaul123 Appreciate this being prioritized! A few unsolicited thoughts:
- both explicit and implicit sidecars (like firelens) should be supported
- this feature is only truly useful if we can parameterize the values based on copilot environment

[2020-11-04 07:23] rajikrishnamoorthy opened #1628 "Provision to give ECR url"
Copilot pushes the docker images to the existing account's ECR. But many a times the account where pipeline runs the account where docker images are stored is different. If copilot can make the ECR url configurable it would help teams who have cross account ECR images.

[2020-11-04 07:24] rajikrishnamoorthy opened #1629 "Provision to have a configurable ECR url"
Copilot pushes the docker images to the existing account's ECR. But many a times the account where pipeline runs and the account where docker images are stored is different. If copilot can make the ECR url configurable it would help teams who have cross account ECR images.

[2020-11-04 07:26] #1628 closed, assigned to nobody

[2020-11-04 07:27] rajikrishnamoorthy commented on #1628
This is a duplicate that got created by mistake

[2020-11-04 07:36] rajikrishnamoorthy opened #1630 "Attach EBS volume to ECS"
I have a docker container that has an EBS storage volume attached. Copilot does not have a provision to attach EBS? Is there a plan to enable for EBS as well similar to EFS?

[2020-11-04 17:20] efekarakus commented on #1629
Heya @rajikrishnamoorthy ! Copilot will initialize an ECR repository for each service in your application.
If I'm understanding right, it seems you'd like to configure the ECR repository that Copilot pushes to.
Is that right? Is there a reason why you cannot use the ECR repositories created with Copilot?

[2020-11-04 17:25] huanjani commented on #1626
Hello @rajikrishnamoorthy! Thanks for opening this issue.

We have just implemented the option to customize health checks in the Copilot manifest, handling the very situation you describe (https://github.com/aws/copilot-cli/pull/1592). The PR has been merged and will be available in our next release.

Please let us know if there's anything else you'd like to see from Copilot!

[2020-11-04 17:25] #1626 closed, assigned to nobody

[2020-11-04 17:30] huanjani commented on #1627
Hello again, @rajikrishnamoorthy!

The [PR](https://github.com/aws/copilot-cli/pull/1592) mentioned in https://github.com/aws/copilot-cli/issues/1626 includes Timeout and Interval settings. The PR has been merged and will be available in our next release. We're excited that this functionality will be useful to Copilot users!

Thanks!

[2020-11-04 17:30] #1627 closed, assigned to nobody

[2020-11-04 18:04] rajikrishnamoorthy commented on #1629
Hi @efekarakus, we have teams that maintain a central account that hosts ECR and the developers would push their docker images from their respective accounts. copilot would create ECR repo in the account where the CLI is configured for. But I would need to push the image to the central account. We have 2 accounts in this scenario, one account from where copilot init is run and the other account to

[2020-11-04 18:05] rajikrishnamoorthy commented on #1626
Thank you @huanjani , this is great!

[2020-11-04 18:08] iamhopaul123 commented on #1629
Hello @rajikrishnamoorthy, in this situation one workaround for now I think is to manually build and push your image to that ECR repo then get the URL and specify the image URL in your manifest:

[code]

[2020-11-04 18:20] rajikrishnamoorthy commented on #1629
Thanks @iamhopaul123 , the manifest.yml file gets created only after copilot init is run completely. So I would let copilot push the docker image to developer's aws account and then once the ECS is up and running, I manually push the image to the central ECR account, update the manifest.yml file with the image url and give copilot update. command Is my assumption correct?

[2020-11-04 18:27] iamhopaul123 commented on #1629
Not really! You could run `svc init` to only create the manifest. Or you could choose not to deploy when you are doing `copilot init`.

So the typical workflow is: if you first use Copilot or you don't have much thing to configure, we recommend using `copilot init` to spin up your application easily. However, if you have some deployment configuration requirements, for example in your use case, you

[2020-11-04 18:39] rajikrishnamoorthy commented on #1629
Thanks for the clarity @iamhopaul123 on _**env init**_ and _**app init**_. I was always sticking to _**copilot init**_ for creating the ECS. Now this helps.
But would making the ECR location a configurable parameter add value? Any idea of adding this as a feature?

[2020-11-04 18:53] iamhopaul123 commented on #1629
Yeah I agree @rajikrishnamoorthy. It sounds like a good idea to make the push destination configurable for users. We could leave this issue open so as to keep you posted about it!

[2020-11-04 18:59] rajikrishnamoorthy commented on #1629
Great @iamhopaul123 , Thanks.

[2020-11-04 19:05] iamhopaul123 commented on #1119
Hello @bdevore17, so sorry for the late reply. We probably won't be able to do this feature very soon but I'll try to get to it as soon as possible and keep you posted!

Really appreciate this input. It is very helpful to us!

[2020-11-05 00:13] bvtujo commented on #1625
Hi @rajikrishnamoorthy, we intend `copilot init` to be a quick, streamlined initialization experience for customers who are new to the tool, or just want to get up and running quickly. Under the hood, though, it runs:
[code]

Would it work for your use case to just run `copilot app init`, `copilot env init`, then `copilot svc init`, then update the manifest and run `copilot svc deploy`?

[2020-11-05 03:00] rajikrishnamoorthy commented on #1625
Yes @bvtujo, that would work. Thanks for the tip 👍

[2020-11-05 08:44] niros1 commented on #1369
Amazing

[2020-11-05 14:49] elgohr opened #1635 "Lambda Observability"
At the moment Copilot creates Lambdas outside of a VPC (https://github.com/aws/copilot-cli/blob/mainline/templates/environment/partials/lambdas.yml).
In this way internet traffic can't be limited.

To avoid and react on unwanted behaviour, it would be good to put the Lambdas into a VPC (maybe even inside https://github.com/aws/copilot-cli/blob/mainline/templates/environment/partials/vpc-resources.

[2020-11-05 16:51] bvtujo commented on #1507
Hi @envek, as of v0.5.0 Copilot contains commands for handling scheduled tasks. It does something very similar to what you've described, wrapping the Fargate task in a state machine for retries and timeout in its execution. You can automate much of your Cloudformation from above by running the following:
[code]

This will create the task definition, state machine, and a CloudWatch Event Rule which

[2020-11-05 16:53] #1625 closed, assigned to nobody

[2020-11-05 19:28] iamhopaul123 opened #1637 "Add retry when stack set is updating"
When doing `svc delete` and `svc init` at the same time for different copilot services, sometimes the second command could fail because both commands are trying to update the stack set.

[code]

We should add retry if we find the stack set is already updating.

[2020-11-06 11:20] rajikrishnamoorthy opened #1642 "Copilot exposing Rest API"
Hi,
Is there a plan to have copilot expose its capabilities via REST APIs?
If we want to build custom container management platforms , calling copilot commands through APIs would easily enable us to create User Interfaces. Teams can initialize and deploy ECS services through this UI, they need not be proficient with the commands.

[2020-11-06 16:50] mwarkentin commented on #1246
+1 for this from us - in our existing apps we have several which use SQS, and a whole bunch more which consume tasks from RabbitMQ.

[2020-11-06 18:45] mwarkentin commented on #1246
Seems like this can be closed after #1478 was merged.

[2020-11-06 18:55] efekarakus commented on #1246
I think there might be still room for us to explore a nice UX around publishing and subscribing to events from services.

My initial thought was to provide something like this in the manifests:
[code]
[code]

ServiceA could create an SNS topic named "serviceA-subscriptions" and ServiceB gets a SQS queue that gets subscribed to the same topic.
Or similarly ServiceA publishes to an EventBridge at th

[2020-11-06 23:55] mwarkentin commented on #1584
Maybe a dupe of #1081? Should I close?

[2020-11-06 23:57] mwarkentin commented on #1584
Also, looks like GCP is rolling out broad support for buildpacks: https://cloud.google.com/blog/products/containers-kubernetes/google-cloud-now-supports-buildpacks

Would be nice if AWS offered similar support in its managed services! 😊

[2020-11-07 00:09] #1234 closed

[2020-11-07 00:13] efekarakus commented on #1584
Sure that sounds good! Thanks :)

Yes, this feature is definitely on our roadmap :)

[2020-11-07 00:22] mwarkentin commented on #1584
Closing as duplicate of #1081

[2020-11-07 00:22] #1584 closed, assigned to nobody

[2020-11-09 01:19] efekarakus commented on #1630
Hello @rajikrishnamoorthy ! Copilot supports only the [Fargate launch type](https://docs.aws.amazon.com/AmazonECS/latest/developerguide/AWS_Fargate.html#fargate-tasks-storage) at the moment, is your existing container running on an EC2 instance? We do have plans on supporting EFS though: https://github.com/aws/copilot-cli/issues/1559

[2020-11-09 01:22] efekarakus commented on #1635
Thanks for reaching out! That makes sense to me :) we'd need to experiment with the request,  in the mean time we'll keep the issue open.

[2020-11-09 01:46] efekarakus commented on #1642
Heya @rajikrishnamoorthy !

Currently, it's possible to write automation around Copilot by providing the necessary information via flags, for example:
[code]
I assume by a REST API you mean being able to create high-level abstractions like a "Load Balanced Web Service" that Copilot provides but it's managed by AWS? If so I can pass along this information to our teammates.
But I'd expect this to be

[2020-11-09 01:48] #1611 closed, assigned to nobody

[2020-11-09 01:48] #1610 closed, assigned to nobody

[2020-11-09 01:49] efekarakus commented on #1615
Heya @npb12 did the deployment work for you? can we help in any other way?

[2020-11-09 01:52] efekarakus commented on #1605
Closing this issue in favor of: https://github.com/aws/copilot-cli/issues/1642 as a duplicate.

[2020-11-09 01:52] #1605 closed, assigned to nobody

[2020-11-09 01:53] efekarakus commented on #1606
Heya @sundarnarasiman what's the error message that you see?

[2020-11-09 15:11] mwarkentin commented on #1131
@bvtujo are there still pieces outstanding or has most of this been resolved in the release of [copilot#0.5](https://github.com/aws/copilot-cli/releases/tag/v0.5.0)?

[2020-11-09 21:50] bvtujo commented on #1131
@mwarkentin Most of this is resolved in v0.5.0, with a few bugfixes and enhancements coming up in our next release. We're going to follow shortly with `job status`, `job show`, and `job logs`, but for now, Scheduled Jobs are totally deployable with Copilot!

[2020-11-10 00:52] iamhopaul123 commented on #1619
Discussed offline and close it for now. Feel free to reopen if it is still an issue.

[2020-11-10 15:24] efekarakus commented on #1626
This was released in v0.6.0 https://github.com/aws/copilot-cli/releases/tag/v0.6.0 happy building! 🚀

[2020-11-10 15:24] efekarakus commented on #1627
This was released in v0.6.0 https://github.com/aws/copilot-cli/releases/tag/v0.6.0 happy building! 🚀

[2020-11-10 15:26] efekarakus commented on #1195
This was released in v0.6.0 https://github.com/aws/copilot-cli/releases/tag/v0.6.0 happy building! 🚀

[2020-11-10 15:27] efekarakus commented on #1234
This was released in v0.6.0 https://github.com/aws/copilot-cli/releases/tag/v0.6.0 happy building! 🚀

[2020-11-10 15:29] efekarakus commented on #1453
Heya @alex-all3dp ! The allow-list feature was released in v0.6.0 https://github.com/aws/copilot-cli/releases/tag/v0.6.0 🚀 Hope this helps!

[2020-11-10 16:34] alex-all3dp commented on #1453
@efekarakus Thanks a lot! It's great how active you guys respond to feature requests by the community! :)

Btw. it seems that you forgot to mention it in the release notes and the official docs?

[2020-11-10 17:11] efekarakus commented on #1453
@alex-all3dp apologies, it's not super obvious in the docs: https://aws.github.io/copilot-cli/docs/manifest/lb-web-service/#http-allowed-source-ips

and in the release, it's the latest bullet point:

[2020-11-10 17:48] alex-all3dp commented on #1453
@efekarakus my bad, thx for the hint :)

[2020-11-10 18:16] huanjani commented on #1416
Note: This behavior also happens in `svc logs`.

[2020-11-10 19:05] efekarakus opened #1656 "Copilot doesn't prompt for an existing image name if workspace is empty"
### Description

My current workspace doesn't have a Dockerfile, so when I run `copilot init` or `copilot svc init` I expected the CLI to ask me if I'd like to enter an existing image name. But the CLI instead prompts me for:
[code]

This seems to be happening because of the `WorkspaceSelector` where if no Dockerfile is found we prompt them for a path:
https://github.com/aws/copilot-cli/blob/037ca

[2020-11-10 20:16] huanjani opened #1657 "svc delete doesn't error out/inform user when flagged svc not in flagged env"
This is a pretty minor UX thing, but:

Rather than informing the user that the svc and env combination specified by their flags are invalid, Copilot appears to (very quickly) delete the service.

Example (svc 'acorn' isn't deployed in env 'test'):

[code]

[2020-11-10 20:19] huanjani opened #1658 "svc status: error messaging could be more specific"
If a user specifies svc and env with flags for `svc status` and the indicated service isn't actually in the indicated environment, the error message received is about the app, not the env.
Seems like we could/should have different error messages for the two different scenarios.

[code]
(applies to both `status` and `logs`)

[2020-11-10 20:29] huanjani commented on #1658
Update: this error message does seem to exist but isn't being reached in the above scenario.
https://github.com/aws/copilot-cli/blob/mainline/internal/pkg/term/selector/selector.go#L225

[2020-11-10 20:54] iamhopaul123 commented on #1658
https://github.com/aws/copilot-cli/blob/mainline/internal/pkg/term/selector/selector.go#L225

This is just to check if the svc is deployed in the env. It will return `false, nil` if the svc is not deployed to that env. I think for this scenario we can update the [error message](https://github.com/aws/copilot-cli/blob/mainline/internal/pkg/term/selector/selector.go#L248) to be either

1. more gener

[2020-11-10 21:03] efekarakus opened #1660 "Service Discovery endpoint is not rendered for Backend Services"
### Description

When I run `svc show` for a Backend Service type, the service discovery endpoint is not rendered under "Environments". This seems to work fine for Load Balanced Web Services. Example:
[code]
Similarly, when I run with `--json` the following is printed for the output `"serviceDiscovery":null`

[2020-11-10 21:14] efekarakus commented on #1660
🤦 this is my bad, I forgot that we don't assign port 80 by default anymore for backend services.
It works just fine if I add a `port` entry in the manifest.

[2020-11-10 21:14] #1660 closed, assigned to nobody

[2020-11-10 22:45] huanjani commented on #1543
Currently returning `errNoAppInWorkspace`: `✘ could not find an application attached to this workspace, please run 'app init' first`.

[2020-11-10 22:45] #1543 closed, assigned to nobody

[2020-11-11 00:12] #1416 closed, assigned to huanjani

[2020-11-11 18:13] efekarakus opened #1662 "Environments with a domain cannot be initialized after v0.6.0"
### Description

After upgrading to v0.6.0, I initialized an application with the domain name flag:
[code]
And then I tried to create an environment with the default VPC configuration:
[code]
However, I received the following error:
[code]

### Why?
I believe this is happening because of the following resource:
https://github.com/aws/copilot-cli/blob/c47e17b9ac3395534d6683a17ef146fa45544810/templa

[2020-11-11 18:43] iamhopaul123 commented on #1619
able to reproduce the issue. reopen it.

[2020-11-11 20:24] iamhopaul123 commented on #1619
After investigation, seems like the issue is because CFN won't update the service if the `desiredCount` doesn't change compared to the previous template.

The workflow is: set the autoscaling when creating the service and range to be `1-10`. The `desiredCount` will be 1 in the CFN template for `AWS::ECS::Service`. Then when traffic comes in the ASG update the `desiredCount` to 10 and then 10 tasks

[2020-11-11 21:29] iamhopaul123 commented on #1619
As for the workaround, we could either:

1. set the `count` number to be a different value than the one before;

2. force the redeployment to update the service by changing the image tag like `copilot svc deploy --tag newtag`, so that the new desired count will be applied;

3. set the autoscaling to be `range: 1-1` so that the desired count will be updated by ASG, but the downside is the ASG won't

[2020-11-11 21:47] #1656 closed, assigned to iamhopaul123

[2020-11-11 22:22] hundredwatt commented on #1595
As a workaround, I created an add-on for an S3 bucket:

[code]

[2020-11-12 00:36] #1662 closed, assigned to efekarakus

[2020-11-12 16:36] noahjahn commented on #1400
I've committed and pushed changes to the GitHub repo for the project using Copilot deployment to ECS. I continue to receive same deployment failure message when trying use the same tag name `copilot deploy --env staging --name cms --tag staging`:
[code]

My use case is pushing with the `staging` tag. Ideally, each deployment could just update that image with the same tag name so the images don't c

[2020-11-12 17:14] efekarakus opened #1667 "Support private registry auth"
Copilot currently does not support private image repositories: https://docs.aws.amazon.com/AmazonECS/latest/developerguide/private-auth.html. This is a request to add an additional field in our manifest to allow customers to provide their repository credentials.

From a customer ask on gitter:

[2020-11-12 21:21] Fodoj opened #1669 "HTTPS setup with custom domain"
I am trying to do the following and looking for some tips on how to achieve it:

I have 2 environments, prod and preprod

preprod is available at preprod.myapp.io

prod is available at myapp.io

Currently I've added new listener to ALB created by Copilot and attached manually created ACM certification

Only problem is that application is still available at http, so it works both as http://myapp.io

[2020-11-12 21:29] efekarakus commented on #1669
Heya @Fodoj !
I wonder if something like this would work for you: https://github.com/datadotworld/amazon-ecs-cli-v2/commit/ad3752fa869120c4e0d8cb2d82bbaf747e599fe6

[2020-11-12 21:51] Fodoj commented on #1669
It seems that is bound to particular DNS names for the certificate: https://github.com/datadotworld/amazon-ecs-cli-v2/blob/ad3752fa869120c4e0d8cb2d82bbaf747e599fe6/templates/environment/cf.yml#L542, and I would like to just use the cert for root domain

[2020-11-12 23:11] #1591 closed, assigned to huanjani

[2020-11-13 08:59] Fodoj commented on #1586
Just to clarify - did I understand correctly, that in regards to spot functionality, this https://github.com/aws/copilot-cli/issues/1154 is just a proposal, not yet implemented?

[2020-11-13 16:01] ryanvade commented on #1345
Would really like to see a more limited set of policies.

[2020-11-13 17:48] efekarakus commented on #1586
yeah that's right, it's not implemented yet.
Two days ago we added two new fields for autoscaling Load Balanced Web Services: `requests` and `response_time` (#1664) which should go out next release, so we're making progress towards more advanced autoscaling fields over time :)

[2020-11-13 19:41] hundredwatt commented on #1133
Anyone have workarounds for this?

We currently use ECS with EC2 instances (not Fargate) and have a bash script to launch an interactive session there via `run-task` and then stop the Task when the session is closed. We're thinking about keeping this separate cluster just for running interactive sessions and migrating all our services to Copilot (assuming that Copilot created Task Definitions run

[2020-11-13 19:46] iamhopaul123 commented on #1133
Hey @hundredwatt, we are planning to add `copilot exec` which will launch an interactive session with the Fargate tasks Copilot spins up. Please stay tuned for this feature!

[2020-11-13 21:32] bryceandress opened #1675 "CodeBuild is failing to build services with the following output"
`
[Container] 2020/11/13 21:23:39 Running command export COLOR="false"
--
807 |  
808 | [Container] 2020/11/13 21:23:39 Running command svcs=$(./copilot-linux svc ls --local --json \| jq '.services[].name' \| sed 's/"//g')
809 |  
810 | [Container] 2020/11/13 21:23:39 Running command envs=$(./copilot-linux env ls --json \| jq '.environments[].name' \| sed 's/"//g')
811 |  
812 | [Container] 2020/1

[2020-11-13 21:54] efekarakus commented on #1675
Heya @bryceandress !

Which version of Copilot are you using?

One hypothesis on the failure: it's possible that you upgraded on a newer version of Copilot but the buildspec was generated using an older version of the CLI. Would you mind deleting the `buildspec.yml`, then running the following again to regenerate the buildspec:
[code]

It's possible that we pushed a bug fix in between that might s

[2020-11-13 22:14] bryceandress commented on #1675
That appears to have taken care of it. I think an extra svc snuck into my copilot directory causing the problem not an update of the tool. Regardless the pipeline init took care of it.

[2020-11-13 22:14] #1675 closed, assigned to nobody

[2020-11-13 22:59] huanjani commented on #1657
No longer an issue. Closing!

[2020-11-13 22:59] #1657 closed, assigned to nobody

[2020-11-13 22:59] huanjani commented on #1658
No longer an issue. Closing!

[2020-11-13 22:59] #1658 closed, assigned to nobody

[2020-11-16 14:04] bryceandress opened #1678 "Add ELB information to Stack Outputs"
It would be very helpful to add ELB information to the Stack Outputs. Currently I am trying to create custom Cloudwatch Alarms for my application, to do this I had to hardcode the Target Group name into the metric, if the ELB Stack would have this as a reference it would make the deployment environment agnostic.

If I am missing a step please let me know. Below is my template for reference

AWSTem

[2020-11-16 15:08] lukeledet opened #1679 "Unable to create environments after recreating an app"
I first created an app with this command: `copilot app init myapp`

Then I added 2 environments:

[code]

Then I created 2 services:

[code]

Then I setup Route53 and ACM manually to point a domain at the load balancer. I was able to access my intake-form service without an issue but after getting some help on gitter I realized I should have used the `--domain` flag when creating the app. Since ev

[2020-11-16 15:32] efekarakus commented on #1679
Heya @lukeledet !

Apologies 🙇‍♂️, we introduced a bug in v0.6.0 #1662 that causes this error and merged the fix recently which should go out in the next release: #1663

In the mean time to unblock yourself, you can downgrade to v0.5.0 if that doesn't work let us know and we can push the fixed version out:
[code]

[2020-11-16 16:44] gopalc-cap opened #1680 "Utilizing Copilot CLI to integrate with Bamboo builds"
Feedback:
1.	Copilot looks very useful and easy to use tool which saves efforts of writing scripts and configuring resources in the AWS!
2.	Copilot does not work with root account. It needs be IAM user account to build and deploy from local.
3.	Docker desktop software also needs to be deployed on local machine to build the image. I have not observed list of all pre-requisite tool on readme docs.
4

[2020-11-16 17:33] efekarakus commented on #1615
@bvtujo replied also here: https://stackoverflow.com/a/64774855/1201381

Closing the issue, feel free to re-open if you encounter a problem!

[2020-11-16 17:33] #1615 closed, assigned to nobody

[2020-11-16 19:01] efekarakus commented on #644
Closing this issue as we delivered this feature :)

[2020-11-16 19:01] #644 closed

[2020-11-16 19:27] lukeledet commented on #1679
Thank you @efekarakus I was able to downgrade to 0.5.0 but I still can't create a load balancer. I got the following error:

[code]

Running it again gave me this error:

[code]

It seems like everything is rolling back correctly on these failures but subsequent runs give similar errors. I don't know if this is related or some other issue though

[2020-11-16 19:30] efekarakus commented on #1679
Ah interesting 🤔 once it rollbacks, is it possible to manually delete the environment's cloudformation stack and then retry the operation again?

We're in the process of doing a release so hopefully the fix for this issue should be out soon!

[2020-11-16 19:38] efekarakus commented on #1678
Heya @bryceandress !

This would be the TargetGroup in the service stack right? Are there are any other attributes that you think would be useful to output?

[2020-11-16 19:49] efekarakus commented on #1680
Heya @gopalc-cap !

Thanks for pointing this out, we should update our docs to make it more explicit.

When you run `copilot env init` to create an [environment](https://aws.github.io/copilot-cli/docs/concepts/environments/), Copilot will ask you whether you want to import an existing VPC or customize it. So you can configure the CIDR blocks in your VPC.

For ports and other service specific confi

[2020-11-16 21:13] lukeledet commented on #1679
Yes, I could delete the stack and run it again. Same problem but I noticed that when it rolls back it doesn't delete the `myapp-staging-CFNExecutionRole` and `myapp-staging-EnvManagerRole` roles. After I remove those manually it works again!

[2020-11-16 21:36] efekarakus commented on #1679
@lukeledet Awesome! also we just released v0.7.0 that contains the fix for this issue: https://github.com/aws/copilot-cli/releases/tag/v0.7.0

It'd be super helpful for us if you don't mind giving it a try and see if the problem goes away :)

[2020-11-16 22:46] danieloldberg opened #1685 "Healthcheck path not present"
On Copilot 0.7.0.

My target group healthcheck path is empty (just '/') when deploying the following manifest:
[code]
The following works:
[code]
But I need to adjust healthcheck thresholds in order to allow my app to come online.

Have I misinterpreted the syntax or make a mistake?

Thanks!

[2020-11-16 23:18] iamhopaul123 commented on #1685
Hi @danieloldberg thank you for letting us know. Seems like it is a bug. We'll fix this soon and send out a patch release.

[2020-11-16 23:52] iamhopaul123 commented on #1685
Hello @danieloldberg, we are planning a release in early next week. Does it work for you? Or we could do a patch release very soon.

[2020-11-17 00:34] bryceandress commented on #1678
Target Group ARN, Target Group Name, Load Balancer ARN, and Load Balancer Name would be helpful from the experiences I have had using CloudFormation to stand up an environment and now using Copilot.

[2020-11-17 01:56] ryanvade opened #1687 "Unable to deploy HTTP Listener"
I've been trying to deploy a test project and keep getting the following error in Cloud Formation:
`Invalid request provided: AWS::ElasticLoadBalancingV2::Listener Validation exception` when deploying the HTTP Listener.

Steps to Reproduce:
1. `copilot init`
2. fill in name, choose Load Balanced Web Service
3. Choose this dockerfile:
[code]
4. Choose `yes` to deploy a test environment.

Verson: `v

[2020-11-17 02:30] efekarakus commented on #1687
Hi @ryanvade ! That's very strange, can you try to deploy it with the latest version v0.7.0 to see if you get the same error?

[2020-11-17 07:45] danieloldberg commented on #1685
I can manually adjust for a week or two while I wait for a new release. Thanks!

[2020-11-17 12:32] danieloldberg opened #1689 "Enable additional IAM policies for pipeline's "build" stage"
Is there a way to add additional policies to copilot roles?
I currently have a need to add IAM policy to enable codebuild role to pull down from CodeArtifact.
Tried to find something in the docs but couldn't find anything.

[2020-11-17 16:12] lukeledet commented on #1679
I had to manually delete the old `myapp-infrastructure-roles` stack but after that I was able to recreate everything and the process went very smoothly. Thanks for your help Efe!

[2020-11-17 16:13] #1679 closed, assigned to nobody

[2020-11-17 16:47] efekarakus commented on #1689
Heya @danieloldberg !

Hmm that's interesting, that'd be a new feature requests for us to enable additional policies to the build stage.

We have a way of adding additional IAM policies to the Task Role through the additional AWS resources feature: https://aws.github.io/copilot-cli/docs/developing/additional-aws-resources/ but that doesn't seem to be what you're asking for.

[2020-11-17 16:57] #1685 closed, assigned to iamhopaul123

[2020-11-17 18:47] ryanvade commented on #1687
After upgrading to 0.7.0 I now get this error when trying to create a test environment.

[code]

[2020-11-17 19:04] efekarakus commented on #1687
Ah @ryanvade  sorry for the trouble! This happens if it's the very first time we're creating an ECS cluster in the account: https://github.com/aws/copilot-cli/issues/1324

One way to mitigate it is to navigate to the ECS console and creating some "default" cluster or you can run:
[code]
to unblock this issue (https://docs.aws.amazon.com/AmazonECS/latest/developerguide/using-service-linked-roles.ht

[2020-11-17 19:26] ryanvade commented on #1687
@efekarakus I see, that has fixed it.

Side note, do you know why the storage plugin won't allow 2 character DynamoDB attribute names?

[2020-11-17 19:36] efekarakus commented on #1687
That's a mistake on our end :D we reused some validation logic for DDB which is extra restrictive.
In the mean time you can provide a longer name temporarily, and then modify the generated cloudformation template to rename the attribute name to a 2 character value like "id" to mitigate the issue

[2020-11-17 19:38] gopalc-cap opened #1690 "Copilot does not work with root account. It needs be IAM user account to build and deploy from local."
Copilot does not work with root account. It needs be IAM user account to build and deploy from local.

[2020-11-17 19:47] #1687 closed, assigned to nobody

[2020-11-17 19:54] hnrc commented on #1247
The only [supported source providers](https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-pipeline-structure.html#actions-valid-providers) in CodePipeline seem to be: S3, ECR, CodeCommit, CodeStarSourceConnection and Github.~~

CodePipeline added native support for Github Enterprise Server repos a few weeks ago. Yay!

https://aws.amazon.com/about-aws/whats-new/2020/09/aws-codepipel

[2020-11-17 19:59] gopalc-cap opened #1691 "Docker desktop software also needs to be deployed on local machine to build the image. I have not observed list of all pre-requisite tool on readme docs."
Docker desktop software also needs to be deployed on local machine to build the image. I have not observed list of all pre-requisite tool on readme docs.

[2020-11-17 19:59] gopalc-cap opened #1692 "How to customize the default settings and configurations of ports, VPC, ECS and all other resources?"
How to customize the default settings and configurations of ports, VPC, ECS and all other resources?

[2020-11-17 20:00] efekarakus commented on #1247
Awesome! We're starting our work with additional pipeline source stages this week, so stay tuned :)

[2020-11-17 20:01] hnrc commented on #1247
Couldn't be more hyped! 😃

[2020-11-17 20:08] gopalc-cap opened #1693 "Integrate Copilot with Bamboo"
ne of our requirement is :Integrate Copilot with Bamboo to build and deploy docker images on AWS seamlessly. Developers do not execute Copilot CLI in given restricted environment. Need detailed information and steps how to perform Copilot integration with Bamboo builds

[2020-11-17 20:45] huanjani commented on #1692
Hi @gopalc-cap!

When you `init` your service, a `manifest.yml` file is created for you in the `copilot` directory. In that file, you can customize fields like port. When you then `deploy`, those customizations are implemented. (See https://aws.github.io/copilot-cli/docs/manifest/overview/ and the other manifest docs for specifics.)

For environment-related config, you may customize those when you

[2020-11-17 21:44] ctindel opened #1694 "Don't require copilot to create new iam roles"
My customer was trying to use copilot and failing because their credentials allow them to use any service but don't allow them to create new IAM roles.  It would be great if copilot could generate the CF needed for IAM so an admin could apply it, and then take the relevant role names as parameters when creating the rest of the stack.

[2020-11-17 21:46] #1692 closed, assigned to nobody

[2020-11-18 13:22] sekamaneka commented on #1689
I also need to pull something from an existing S3 bucket in the codebuild stage. I didn't find a way to do that. Adding IAM policies would help me very much!

[2020-11-18 14:48] vikasgoel76 opened #1696 "Docker composed file"
Copilot does not support docker composed file

[2020-11-18 14:49] vikasgoel76 opened #1697 "Application load balancer"
Copilot does not support customization of application load balancer

[2020-11-18 14:51] vikasgoel76 opened #1698 "Integration with route53"
Copilot does not support automated integration between ECS and Route53

[2020-11-18 14:53] vikasgoel76 opened #1699 "Rest API support"
Copilot does not provide RestAPI support for integrating with custom DevOps tools

[2020-11-18 14:54] vikasgoel76 opened #1700 "Support windows containers"
Copilot does not provide support for windows containers

[2020-11-18 18:44] bvtujo opened #1702 "Copilot should honor env-specific overrides in image.build"
Now that we support an increasing number of Docker build flags in the manifest, customers want to be able to customize these flags per environment the same way they customize environment variables, secrets, and CPU values for different environments.

The `image.build` section of the manifest is slightly different than the rest of the fields because it's the only field which doesn't correlate direc

[2020-11-18 23:32] efekarakus commented on #1696
👋  Thanks for the feedback! This is a duplicate of #1612, closing it here so that we can track the issue from a single location.

[2020-11-18 23:32] #1696 closed, assigned to nobody

[2020-11-18 23:34] efekarakus commented on #1697
@vikasgoel76
Heya! you can customize to a certain extend ALB fields by modifying the manifest file for a Load Balanced Web Service under the `http` field: https://aws.github.io/copilot-cli/docs/manifest/lb-web-service/#http

Were you looking to customize other properties? Please feel free to open if the above fields don't satisfy your usecases 🙏

[2020-11-18 23:34] #1697 closed, assigned to nobody

[2020-11-18 23:40] efekarakus commented on #1698
@vikasgoel76 What sort of integration were you looking for?

Copilot applications can support an HTTPS endpoint by providing a domain name in Route53: https://aws.github.io/copilot-cli/docs/commands/app-init/
[code]

Or did you have something else in mind?

[2020-11-18 23:42] efekarakus commented on #1693
Heya @gopalc-cap! We replied to the issue here: https://github.com/aws/copilot-cli/issues/1680#issuecomment-728285739 let me know if that doesn't work for you.

I'll close this issue as a duplicate of #1680

[2020-11-18 23:42] #1693 closed, assigned to nobody

[2020-11-18 23:46] efekarakus commented on #1606
Closing due to lack of response please feel free to re-open!

[2020-11-18 23:46] #1606 closed, assigned to nobody

[2020-11-18 23:51] #1642 closed, assigned to nobody

[2020-11-18 23:53] efekarakus commented on #1699
Heya @vikasgoel76 ! This is a duplicate of #1642, let us know if you have something else in mind but the short answer is that with Copilot you can provide flags to automate your process instead of using the default guided walkthrough wizard.

[2020-11-18 23:53] #1699 closed, assigned to nobody

[2020-11-20 15:56] ryanvade commented on #1345
Ended up with this for our minimal permissions. For our usecase we added full DynamoDB, S3 and KMS but that can easily be removed. Currently we don't have a requirement for Route53 domain management.
[code]

[2020-11-20 17:21] #1585 closed, assigned to nobody

[2020-11-20 19:05] avvaidya-aws opened #1706 "Environment deletion using "copilot env delete" command"
Environment deletion using "copilot env delete" command not deletes all resources (IAM roles, Repositories, KMS keys, buckets inside 2 diff CloudFormation stacks exists)

[2020-11-20 19:06] avvaidya-aws opened #1707 "Multiple setups issue"
Able to create setup first time without issue but multiple setups lands with issue.

[2020-11-20 19:08] avvaidya-aws opened #1708 "Copilot missing features for ECS"
Integration with other AWS services e.g. EBS EFS Windows container NLP will really help to make this better suited for enterprise workloads.

[2020-11-20 19:10] avvaidya-aws opened #1709 "Single pipeline for infra creation"
cross regions (Including China) spread across multi AWS accounts i.e. Single Pipeline which can create environment for dev, stage, prod, DR… in different AWS regions provisioned under different AWS accounts.

[2020-11-20 19:10] avvaidya-aws opened #1710 "Single pipeline for Application deployment"
cross regions (Including China) spread across multi AWS accounts i.e. Single Pipeline which can create environment for dev, stage, prod, DR… in different AWS regions provisioned under different AWS accounts.

[2020-11-20 19:11] avvaidya-aws opened #1711 "Private git support"
CoPilot only supporting public git repository, add support for private git

[2020-11-20 19:12] avvaidya-aws opened #1712 "Working with existing VPC/Subnet etc"
Creation of ECS environment using existing vpc/subnet , security group, IAM roles.

[2020-11-20 19:12] avvaidya-aws opened #1713 "other services integration"
RDS , messaging services and other important services integration is missing

[2020-11-20 19:13] avvaidya-aws opened #1714 "IDE Integration"
Integration with Id's like Visual  Studio code, Eclipse, PyCharm  and IntelliJ will help

[2020-11-20 19:13] avvaidya-aws opened #1715 "Jenkins/Spinnaker support"
Jenkins/Spinnaker support will help at enterprise level.

[2020-11-20 19:40] efekarakus commented on #1706
Heya @avvaidya-aws, you'd need to run `copilot app delete` to delte all the resources created with Copilot.

[2020-11-20 19:40] #1706 closed, assigned to nobody

[2020-11-20 19:41] efekarakus commented on #1707
Heya :wave:!
* Which version of Copilot are you using?
* Can you provide additional details on what's the error?
* What're the commands that you ran so that we can try to reproduce the issue?

[2020-11-20 19:44] efekarakus commented on #1708
There are already existing issues for each one of these items, please give a 👍 and/or comment to these individual issues if you'd like it supported in copilot.
1. #1700
2. #1094
3. Not supported for Fargate launch type.
4. #1559
5. This is supported with `env init` right now.
6. #1304

Thanks!

[2020-11-20 19:44] #1708 closed, assigned to nobody

[2020-11-20 19:46] efekarakus commented on #1709
This is supported with copilot! (not China yet though)
When you run `env init` you can choose which AWS profile to use to create the environment stack in. The profile points to a specific aws account and region and the pipeline generated with `pipeline init` will deploy across accounts and regions.

[2020-11-20 19:46] #1709 closed, assigned to nobody

[2020-11-20 19:47] efekarakus commented on #1710
Duplicate of #1709

[2020-11-20 19:47] #1710 closed, assigned to nobody

[2020-11-20 19:48] efekarakus commented on #1711
Closing in favor of https://github.com/aws/copilot-cli/issues/1339

[2020-11-20 19:48] #1711 closed, assigned to nobody

[2020-11-20 19:49] efekarakus commented on #1712
This is supported with `env init` right now, and there are other existing issues for configuring security groups. Closing the issue.

[2020-11-20 19:49] #1712 closed, assigned to nobody

[2020-11-20 19:50] efekarakus commented on #1713
We have individual issues to track additional addon integrations:
* https://github.com/aws/copilot-cli/issues/1178 for RDS
* https://github.com/aws/copilot-cli/issues/1559 for EFS

Thanks!

[2020-11-20 19:50] #1713 closed, assigned to nobody

[2020-11-20 19:51] efekarakus commented on #1714
What type of integration are we looking for ? Copilot creates YAML files as manifest to represent a service/job.
Are we looking to have intellisense for it? This is a duplicate of https://github.com/aws/copilot-cli/issues/1609 we would appreciate additional details in the issue.

[2020-11-20 19:51] #1714 closed, assigned to nobody

[2020-11-20 19:53] efekarakus commented on #1715
Please comment on #1339 for additional pipeline related support.
Is there a particular reason why AWS CodePipeline cannob be used? Thank you!

[2020-11-20 19:53] #1715 closed, assigned to nobody

[2020-11-20 19:53] efekarakus commented on #1707
Please re-open the issue if you've additional steps.

[2020-11-20 19:53] #1707 closed, assigned to nobody

[2020-11-21 08:16] sundarnarasiman commented on #1608
Ok thanks for updating this. Please update the documentation.

[2020-11-21 08:20] sundarnarasiman commented on #1608
I have not tried that. Can you please share me the installer for Windows 10 ?. I will try and let you know.

[2020-11-21 08:25] sundarnarasiman commented on #1609
Efe,

What customers are looking for is the following feature ?. Let's say the customer is using Visual Studio 2019.

They expect a feature something like the below.

a)File --> New --> Project --> AWS ---> Copilot --> Public service

b)File --> New --> Project --> AWS ---> Copilot --> Backend service

Right now, Copilot comes into play once the docker file or image is a available.  This would bri

[2020-11-21 08:27] sundarnarasiman commented on #1613
Any updates on this one ???

[2020-11-21 08:28] sundarnarasiman commented on #1614
Any updates on this one ?

[2020-11-21 08:28] sundarnarasiman commented on #1700
Hi Vikas,

Can you elaborate more on the windows container requirement ?

[2020-11-21 08:29] sundarnarasiman commented on #1698
Hi Vikas,

Could you elaborate more on your requirement ?

[2020-11-21 08:41] sundarnarasiman commented on #1715
Hi Efe,

Most of the customers does not use AWS Code* services for DevOps. Commonly lot of customers rely on open source tools like Jenkins/Spinnaker. There is a good amount of customers using Atlassian Bamboo (or) Gitlabs products as well.

Among these list, Jenkins and Bamboo are very popular and highly adopted. In our next evolution of pipeline support, we should support one of these tools base

[2020-11-24 08:54] sundarnarasiman opened #1723 "Chocolatey package installer for Copilot in Windows 10"
Right now, Copilot supports Windows 10 operating system using .exe files. Nowadays, in Windows 10, chocolatey has become the most famous package manager for Windows. This similar to brew in Mac. It would be great if Copilot is offered as installation package through Chocolatey, something like below.

https://chocolatey.org/

[2020-11-24 15:38] youngfeldt opened #1724 "copilot env init does not see existing subnets."
VPC has 2 public and 2 private subnets.
All are visible with profile used, yet "copilot env init" with arguments and with prompts, fails to acknowledge subnets.

See detail below:

$  copilot env init
What is your environment's name? dev
Which credentials would you like to use to create dev? [profile ec_copilot]
Would you like to use the default configuration for a new production environment?

[2020-11-24 15:42] youngfeldt commented on #1724
Role had read-only permissions.  I then gave it AdministratorAccess and have same results.

[2020-11-24 15:52] youngfeldt commented on #1694
Agreed.  In many business environments, developer will not have rights to create/modify IAM roles.

[2020-11-24 17:55] bvtujo commented on #1724
Hi @youngfeldt, we filter on public subnets in Copilot by checking whether the subnet has the `MapPublicIPOnLaunch` property enabled. Could that be the blocker here? We control access from the internet by security groups, not subnet isolation.

You can change this setting in the console from a subnet's page by clicking Actions, then "Modify auto-assign IP settings," or in your IAC definitions.

[2020-11-26 21:05] rohit8 opened #1726 "Load Balanced Web Service Keeps Restarting"
Hi,
I'm trying to run Hasura, a GraphQL API with a password protected console, via a load balanced web service (Docker Image: hasura/graphql-engine:v1.3.3).

It is able to deploy and give me a URL. I'm able to use the deployed web service for about 30 seconds. But then the URL returns a 503 status code. The service eventually comes back. After checking the svc logs, it just says that the container

[2020-11-26 21:14] kohidave commented on #1726
This usually happens because the Heath check is failing so ECS is restarting your tasks. By default ECS/Loadbalancer will ping the `/` path periodically and needs it to return a `200`. You can change the health check path https://aws.github.io/copilot-cli/docs/manifest/lb-web-service/#http-healthcheck

Update that and let me know if that helps fix your problem!

[2020-11-27 16:47] rohit8 commented on #1726
That was it! I also found the error in the Service's Events tab in the AWS ECS Console:
`Health checks failed with these codes: [302]).`

Since the default route `/` was redirecting somewhere else, I changed the healthcheck URL in the manifest file to the redirect destination (`/console` for the Hasura service).

Thanks!

[2020-11-27 16:47] #1726 closed, assigned to nobody

[2020-11-28 14:42] niros1 opened #1727 "Directory/"
Hi,
I have a copilot application with several services Iv'e create in a repository, I would like to migrate the code, the application and the services to another repository (git), I tried to copy/paste the directory contain the services directory, copilot directory and .workspace file but it doesn't seems to work.
When I tried to do copilot svc deploy I get an error "could not find an application

[2020-11-28 23:07] niros1 commented on #1601
@efekarakus I just upgrade to Copilot V1.0.0 and got this error, I tried to go on the second path (#2) and got this error: " ValidationError: Parameters: [PrivateSubnet1CIDR, PublicSubnet2CIDR, VpcCIDR, PrivateSubnet2CIDR, PublicSubnet1CIDR] do not exist in the template" although I see those params exists within the CF template.

When I tried to go on the first path (#1) and tried to delete the en

[2020-11-29 03:24] efekarakus commented on #1601
Heya @niros1 👋 I'm sorry that you ran into this error!

Yes you're right. Option #1 is really only affordable if you have only a "test" environment that can be deleted but not really possible for a "prod" environment.

Can I get some additional  clarification for your environment stack:

1. Do you remember if you initialized the environment by using an existing VPC or adjusting any of the CIDR blo

[2020-11-29 03:38] efekarakus commented on #1727
Heya @niros1 !

Mmm this is interesting 🤔
If I'm understanding right, you already have an existing application but you'd like to just move all your source code to a different repo.

Where are you running `copilot svc deploy` from? If your directory structure looks like:
[code]
Can you try running `copilot deploy` from where the same level as the `copilot/` directory?
Are you using the same credent

[2020-11-29 13:05] niros1 commented on #1601
Hi @efekarakus,
10X for  your prompt response.
as for your questions:

1. So, I have 3 environments (playground, test, prod), I started with the playground environment and got familiar with Copilot, as much as I remember I created it by 'copilot env init' and choose default, as for test and prod (I become a bit more skilled) and created those with
`copilot env init --name test \\n        --profile

[2020-11-29 13:31] niros1 commented on #1727
Hi,
running the deploy command within copilot directory works just fine, this is weird cause in the initial project I used to run it in the upper level.
As for the other part, I will try this flow.
10X a lot.

[2020-11-30 11:25] steve-scorn opened #1728 "Copilot 1.0 fails on copilot init"
I just upgraded from 0.7 to 1.0 (`brew upgrade copilot`) - now I get the following error attempting to `copilot init` a new application:

[code]

This was all running fine with the 0.7 build. I've never had to have an `app/app.yml` before? Copilot would previously write to the `copilot` directory.

Any other variations with a Dockerfile instead of a container location gives the same error at the s

[2020-11-30 11:35] steve-scorn commented on #1728
Look's like I solved this about one minute after filing the bug:

I installed copilot with the command `brew install copilot`, when it should have been `brew install aws/tap/copilot-cli` (as stated in the documentation).

[2020-11-30 11:35] #1728 closed, assigned to nobody

[2020-11-30 17:37] efekarakus commented on #1728
Awesome great to hear :D

[2020-11-30 18:29] efekarakus commented on #1601
Hi @niros1

Thanks for the info! From the template it looks like the imported environments were created with copilot v0.2.0 and unfortunately there isn't an easy hack that I can think of to enable upgrading the environments between v0.2.0 and v1.0.0.

Would this path work for you?
1. Create new environments say "qa" and "prod-dub" with the copilot v1 that imports the same VPC and subnets as "test"

[2020-11-30 18:32] efekarakus commented on #1727
Awesome great to hear! I'll close the issue now :) feel free to re-open it if you run into another issue.

[2020-11-30 18:32] #1727 closed, assigned to nobody

[2020-11-30 19:45] efekarakus commented on #1123
Resolved with: https://github.com/aws/copilot-cli/pull/1688

[2020-11-30 19:45] #1123 closed

[2020-11-30 20:00] #1252 closed

[2020-11-30 23:54] #1119 closed

[2020-12-01 10:46] niros1 commented on #1601
I think I tried that already and got an error.
I will retry and update about that.

Thanks a lot.

[2020-12-03 11:29] nikolasten opened #1732 "Supply custom task role arn in service manifest conf"
What is the appropriate way to supply task role for a service definition?

I can see we have an option to do that for `copilot task run`

[2020-12-03 16:07] efekarakus commented on #1732
Heya @nikolasten !

You can add additional permissions to the task role by leveraging the [additional AWS resouces](https://aws.github.io/copilot-cli/docs/developing/additional-aws-resources/) feature.
For example, if you have a service named "frontend", you can add attach any `"AWS::IAM::ManagedPolicy"` to your service by creating a template at `copilot/frontend/addons/taskrole.yaml`:
[code]
When

[2020-12-03 18:17] h5aaimtron opened #1733 "copilot init doesn't ask to use existing infrastructure"
I'm part of the group evaluating copilot for UCLA and I've had some issues in getting up and running. I'm going to describe what I did, what happened, and what I expected in hopes of getting clarification.

First I ran

copilot app init

I provided an app name, cf stack was successfully created, all good so far. Next I ran:

copilot init

I was prompted for the underlying services (web app) as a l

[2020-12-03 18:28] iamhopaul123 commented on #1733
Hello @h5aaimtron, `copilot init` is the shorthand version for `copilot app init`, and potentially `copilot env init`, `copilot svc init`, and `copilot svc deploy`, which is usually the entry point for using copilot to deploy an example app which doesn't require any advanced usage. In your case I think the last attempt which is `copilot app init` and `copilot env init` should be expected. However,

[2020-12-03 18:48] bvtujo commented on #1733
In addition to what @iamhopaul123 said, typically this happens when infra is deleted without using `copilot app delete`. When you delete an environment by destroying CF stacks and wiping SSM parameters, you run the risk of not deleting the IAM roles (appname-envname-EnvManagerRole and appname-envname-CFNExecutionRole) which are set up for the environment. The reason they're not covered by deleting

[2020-12-03 19:48] h5aaimtron commented on #1733
@iamhopaul123 I was able to run the last two commands after cleaning up the iam roles produced in previous attempts. That did successfully create the app meta data, roles, and provision the cluster. Thanks for the help.

@bvtujo does the --domain switch trigger additional calls to a dns service/route 53?

[2020-12-03 20:24] bvtujo commented on #1733
@h5aaimtron short answer is yes; if you initialize your app with a domain, copilot sets up a hosted zone for the application in the default account (`.myapp.domain.com`), then a hosted for each environment (`.prod.myapp.domain.com`). We automagically provision an SSL cert from ACM on your behalf too.

You can check out some of the permissions that have worked for other folks at #1345.

Once you do

[2020-12-03 20:36] h5aaimtron commented on #1733
@bvtujo would this also work with a managed zone in R53 where the org controls the root? They're looking to setup an app specific zone so that app teams can provision something like app.env.a.b.c.it.ucla.edu within their instance of route 53?

[2020-12-03 23:14] bvtujo commented on #1733
I think so! You can provide a domain like `a.b.c.it.ucla.edu` and as long as the hosted zone for that subdomain exists in the default account, you should see new endpoints pop up at `svc.env.app.a.b.c.it.ucla.edu`.

[2020-12-04 00:14] mifisignal opened #1735 "Circuit breaker support"
As soon as [Circuit Breaker Support](https://aws.amazon.com/blogs/containers/announcing-amazon-ecs-deployment-circuit-breaker/) is available in CloudFormation, Copilot should support it.

[2020-12-04 00:15] efekarakus commented on #1735
Definitely, that's such an awesome feature!

[2020-12-04 06:22] carlcontinusys opened #1736 "copilot job environment"
It looks like schedule is required when we have environments on the manifest.

We have to add
on:
    schedule
on the environments too.
example:
environments:
   test:
       on:
           schedule: "expersion"

if not added, it will generate an error schedule required.

[2020-12-04 19:10] efekarakus commented on #1736
Heya @carlcontinusys 👋

Thanks for reaching out to us!

Are you saying that when you try to write environment overrides (https://aws.github.io/copilot-cli/docs/manifest/scheduled-job/#environments) for the "test" environment you have to duplicate again the "on" section?

Is this the current behavior?
[code]
but what you want is just:
[code]

Thanks!

[2020-12-06 09:52] niros1 commented on #1601
@efekarakus  thanks for your assistance, you helped me solve the issue.
so, it turn out that I created my playground environment with 0.2.0 but luckily test & prod created two months later with 0.5.0.
after install dev environment with 0.5.0 and go over the upgrade guide all went well.

10X again.

[2020-12-06 21:41] youngfeldt commented on #1724
Thanks for explaining.   I guess its understandable that opinionated assumptions like this will be necessary to move forward quickly.   I'll revist later when the product has matured.   I can not sacrifice security layers for convenience.
It is a good looking direction though.  I look forward to seeing it when it is more configurable.

[2020-12-07 07:57] acomagu commented on #1728
For Arch Linux user:

<details>
<summary>PKGBUILD</summary>

[code]

</details>

I guess it won't work if we compile ourselves.

[2020-12-07 15:07] nnajiabraham commented on #1274
Just curious on an update on this, any luck supporting this?

[2020-12-07 17:05] efekarakus commented on #1274
@nnajiabraham We're starting the work for supporting CodeCommit soon (https://github.com/aws/copilot-cli/issues/781) and then we'll add support for CodeStar Connections which will handle supporting both Bitbucket and GitHub enterprise!

[2020-12-07 17:29] nnajiabraham commented on #1274
Thanks for update, awesome stuff @efekarakus

[2020-12-07 21:46] iamhopaul123 commented on #1724
Hello @youngfeldt. I'm sorry Copilot currently doesn't meet your security requirement. As @bvtujo put we use security group to limit internet access to the public subnets. Could you tell us what security layers do you need and what configurable option are you looking for?

[2020-12-07 23:08] efekarakus opened #1742 "Display a progress tracker during deployments"
Hi everyone!

## Background

Copilot already provides a progress tracker for `env init` that is both `[transparent]`, `[educational]`:

[code]

We'd like to `[scale]`a similar UX for our remaining commands.

## Proposal

We’re proposing to display a progress tracker that’s similar to `env init`. Each stack resource will be rendered with a human-friendly description and status, but in a flat hierar

[2020-12-09 18:34] nikolasten commented on #1732
Thanks that worked for me.
Would be nice to have an option to define shared infrastructure and shared policies and roles across multiple services

[2020-12-09 18:34] #1732 closed, assigned to nobody

[2020-12-09 21:32] huanjani commented on #1339
## Milestones

1. **Add CodeCommit**
- [x] pipeline and repo in same account and same region
- [x] UX: auto-detect repo sources and repos
- [ ] cross-region, if possible
- [ ] cross-account, if possible

2. **Add CodeStar Connections**
- [x] connection-creation functionality
- [x] Bitbucket
- [x] GitHub version 2 source action
- [x] GitHub Enterprise

[2020-12-10 01:39] h5aaimtron opened #1748 "Dockerfile auto detect when creating service."
Copilot's auto-detecting of the dockerfile is case sensitive. In my case, all our files are lowercase "dockerfile" which doesn't get detected. If you capitalize the D to "Dockerfile" auto detection works and you don't have to specify a path. I thought this was a little odd and maybe an easy thing to update.

[2020-12-10 16:56] efekarakus commented on #1748
Hi @h5aaimtron thanks for the feedback! I moved the issue to our backlog to fix this behavior

[2020-12-10 23:26] bvtujo commented on #1559
Hi everyone, I've updated this issue to be a much more comprehensive summary of the direction we're going to take for EFS support.

It would REALLY help us if you thumbs-upped this issue if you could tell us what kind of use cases you had in mind for EFS and Copilot.

Do you need the ability to use a sub directory of an existing FS for ML purposes?
Do you need shared persistence for wordpress or d

[2020-12-11 08:14] revmischa commented on #1559
My use case is I am deploying an application that I did not write, that is not cloud-native. If I wrote it, it would use Lambda and S3 and I would have no need for copilot in the first place. The application in question is [Lemmy](https://github.com/LemmyNet/lemmy) which makes use of [pict-rs](https://git.asonix.dog/asonix/pict-rs/). Pict-rs uses the filesystem as a database and storage for upload

[2020-12-11 19:25] #1324 closed, assigned to nobody

[2020-12-13 20:13] motatoes opened #1751 "Announcement should link to v1.0.0"
[The copilot announcement](https://aws.amazon.com/blogs/containers/introducing-aws-copilot/) has some installation instructions and within the article the installation instructions are linking to v0.0.1. This version of the cli is lacking many great features in v1.0.0 and therefore the article should instead to the latest version to avoid frustrations of someone using that version then having to u

[2020-12-14 16:47] nathanpeck commented on #1751
Thanks for the callout! I updated my blogpost to include the latest install instructions!

[2020-12-14 16:47] #1751 closed, assigned to nobody

[2020-12-15 04:43] sinedie opened #1756 "Websocket connection with Redis message queue"
Hey there, awesome work here. I'm new to the cloud and copilot makes it easier for me.

I have a web app with four main containers: frontend -svelte/routify served with nginx-, REST API -regular flask app-, websockets API -flasksocketio- and a async server -python celery workers- for long task like pdf generation and more stuff -15 mins or something like that-.

I was wondering if copilot permits

[2020-12-15 05:20] iamhopaul123 commented on #1756
Hello @sinedie, we do allow services to be able to talk to each other through [service discovery](https://aws.amazon.com/blogs/aws/amazon-ecs-service-discovery/).  Based on your description looks like in current Copilot world, you could have an [LB web service](https://aws.github.io/copilot-cli/docs/manifest/lb-web-service/) as the frontend (maybe with nginx as a [sidecar](https://aws.github.io/co

[2020-12-15 05:28] kohidave commented on #1756
Hiya! Actually the `load balanced web service` provisions an application load balancer which does support websockets. You just ha e to make sure the client code supports it 😃

https://aws.amazon.com/blogs/aws/new-aws-application-load-balancer/

[2020-12-15 16:38] jlucas91 opened #1757 "DNS conflict with existing subdomain"
Hi all - we just had a brief outage at the company I'm evaluating copilot for. I believe it was caused by creating a new copilot application.

We currently have a single hosted zone for our domain (let's say example.com). Within that hosted zone we have a handful of entries, one for api.example.com. I'm looking at replacing the current infrastructure for that service with copilot and ran `copilot

[2020-12-15 16:48] kohidave commented on #1757
Oh no! First I want to say, I'm so sorry ya'll experienced downtime due to this - I'm glad you figured out how to fix things - but still, we apologize.

I'll brainstorm some safeguards we can add to try and prevent things like this in the future.

[2020-12-15 16:52] jlucas91 commented on #1757
Thanks! No worries, I know y'all are still working out the kinks. Just wanted to get it on your radar to save someone else from a similar mistake :)

[2020-12-15 17:06] sinedie commented on #1756
Ty for the quick anwser @iamhopaul123 .

Service discovery seems really cool, it solves something I was not sure about -the only service that connects to the database is the REST API, so I needed some way to connect with that service-, but not entirely solves my use case...

Maybe I didn't explain too well... The frontend app is a 3D view with collaborative work -to keep it simple, think it like t

[2020-12-15 18:12] bcarun opened #1758 "Support Blue/Green Deployment"
I attended the session on copilot during the aws event. I understood that copilot doesn't support Blue/Green deployment. Enterprises will be able to leverage copilot cli if Blue/Green deployment support is available, hence request you to support that feature asap.

- Arun Chandrasekaran

[2020-12-15 19:17] iamhopaul123 commented on #1756
Oh I see what you mean and why you need the websocket connection between services. So it seems like we need a queue processing service and allow websocket connection between services to support the use case.

[2020-12-15 20:11] sinedie commented on #1756
Just tried a websocket example and the connection works... so copilot gives websocket connection out of the box. That make me happy XD -just tried one service tho, idk if spliting frontend and websocket api still works-

Maybe for the websockets connection between the diferent backends I can communicate via service discovery? and let the websocket service broadcast everything. Just need to check i

[2020-12-15 20:22] iamhopaul123 commented on #1756
Awesome! Great to hear it works at its initial attempt. Message queue support is already on our todo list! I'll keep this issue open in case more feature gaps are found and will keep you posted for our queue support progress.

Also, it could be a temporary workaround to specify the message queue as an [addon](https://aws.github.io/copilot-cli/docs/developing/additional-aws-resources/), which allow

[2020-12-16 01:29] sinedie commented on #1756
Hey... still trying to split frontend and websocket api... I'm stuck

I created an app with this two services and hardcoded the ws-back url -in the format I understood from service discovery (this is only for quick test, I will change it to be an env variable)- in the frontend code. Frontend works, it is just a button that emit a message and then the server should broadcast it back and console log

[2020-12-16 06:03] sinedie commented on #1756
OMG!! I found a workaround to keep the two services separated. It is not ideal I think, but works for my case.

Instead of using a backend service for the websocket API, I expose it to the internet like a load balanced web app. In this way I can change the manifest.yml and set the route for the API to '/socket.io' and the load balancer on top can handle the request from the internet -this avoids C

[2020-12-16 06:55] sinedie commented on #1756
It was the healtcheck

Before:
![image](https://user-images.githubusercontent.com/43920544/102311983-d3904580-3f3b-11eb-9772-7873670ba408.png)

After:
![image](https://user-images.githubusercontent.com/43920544/102314732-e9ecd000-3f40-11eb-89fc-986bba96680c.png)

![image](https://user-images.githubusercontent.com/43920544/102315139-a34ba580-3f41-11eb-8efd-ab7c0a5bab26.png)

[2020-12-16 18:05] iamhopaul123 commented on #1756
Yayy!! This is awesome! Yeah since ALB supports websocket maybe it makes more sense to just use them as LB services. Also, is there any other feature request like the message queue? Did you create it as an addon or find a workaround to it?

Again this is so good! Glad to know it is working!

Edited: Configuring security group might not help for controlling the path level traffic for ALB. We need t

[2020-12-16 19:04] sinedie commented on #1756
I'm still figuring out how to create the addon. Never had done this before so... u know XD.

A question... I have 3 services that uses that redis queue. I need to access the same queue on all of them. If I use an addon, do i have to define it on all 3 services? and if I do, it still points to the same queue? or create 3 redis clusters?

[2020-12-16 20:04] iamhopaul123 commented on #1756
I took a look at it seems like it is pretty difficult to broadcast the cluster endpoint address if you are creating one cluster as an addons. I think it would work for 3 clusters but then you'll have 3 different endpoints. Do you need them to share the same elasticache (aws redis) cluster or it is ok to have one for each celery worker?

As for elasticache addon configuration, to take this [CFN tem

[2020-12-16 20:11] sinedie commented on #1756
Well... the only service that need redis or some other message queue is the celery worker. The backend API just needs to insert the task to the redis queue for the celery starts to work. So, yeah, I need to communicate with the cluster from the backend API and the celery worker and needs to be the same cluster...

This cluster is not for persistence, just for starting the long task. -I can do a di

[2020-12-17 00:37] sinedie opened #1760 "Docs typo"
Really don't know how to fix it, so just report it.

On services, manifest. 'test' env mean to be 'prod'.

![image](https://user-images.githubusercontent.com/43920544/102422961-e8211c00-3fd5-11eb-928e-330933e85709.png)

[2020-12-17 00:45] sinedie commented on #1756
Just thinking in a workaround...

I can have a small REST API together with the celery workers in a container (two process in one container... maybe the main could be the api). This way I can open some endpoints to start the workers inside the async services and make all the request via service discovery. That way only need redis on that async service.

Gonna try it this way. Still, sharing these

[2020-12-17 02:18] iamhopaul123 commented on #1756
Thank you so much for giving us so detailed explanation on your application architecture. It is very helpful for us to design the upcoming queue pattern with this use case. Let us know if you have any question on the addons!

[2020-12-17 02:20] huanjani commented on #1760
@sinedie Thanks for spotting this and pointing it out!

[2020-12-17 08:02] sinedie commented on #1756
So... I decided to use SQS -due to price and cause I don't have any data saved- Adding the SQS was 'easy' after research a little, idk if I do it right... maybe need permissions? idk

![image](https://user-images.githubusercontent.com/43920544/102459578-c9da1100-4013-11eb-869c-6a545e9df7fb.png)

Still trying to join the api and the celery worker, no results at the moment... Wish I could use the SQ

[2020-12-17 17:11] #1760 closed, assigned to nobody

[2020-12-17 19:07] iamhopaul123 commented on #1756
So as you might notice if you need some task role permissions to access the sqs queue. For example `sqs:SendMessage` for sending messages to the queue. And you will need to put those policies in the addon teamplate's [AWS::IAM::ManagedPolicy](https://aws.github.io/copilot-cli/docs/developing/additional-aws-resources/) in order to inject those policies to your service task role.

As for getting the

[2020-12-17 19:42] kohidave opened #1763 "Add option to show failed tasks in `svc status`"
Right now, when you run `copilot svc status` it shows you the running tasks which is great. It'd be awesome for debugging to have a flag, maybe `--with-stopped` that showed the stopped tasks, and why they were stopped.

[2020-12-18 22:32] sinedie commented on #1756
So... are you saying me that if I have an endpoint on service A that provides the SQS url, I can use that url in my other services and connect to it without issues?...

[2020-12-18 22:42] iamhopaul123 commented on #1756
Yeah i think so. As long as you have the right permission configured for the task role of the other services that use that URL. I can try to get an example work in the weekend and get back to you.

[2020-12-18 23:06] sinedie commented on #1756
I'm going to try that... maybe that can solve my use case. Keep you infomated about it. Thank you for the quick reply

[2020-12-19 03:46] sbeam opened #1767 "Getting Started example app init fails with ResourceNotReady"
Following exactly the [Getting Started guide](https://aws.github.io/copilot-cli/docs/getting-started/first-app-tutorial/), copilot init fails with a ResourceNotReady:

[code]

Logged-in AWS user has PowerUserAccess.

[2020-12-20 00:45] kohidave commented on #1767
Hi there! I'm so sorry you've run into this problem and that we don't have very good error messaging at the moment.

This typically happens because the application name you're trying to use has already been used by another copilot app in the same account.

If you try changing the app name (or omitting the app name from the command) - that should resolve this issue.

Again - super sorry you've run

[2020-12-20 01:24] sbeam commented on #1767
hmm, I did try that with a fresh copy of the example repo, created a new directory (no existing `copilot` dir), re-downloaded copilot binary from github (not homebrew). Unfortunately exactly the same result. This is the first time using copilot and the account does not have any ECS clusters running.

[code]

[2020-12-20 02:42] iamhopaul123 commented on #1756
Hi @sinedie so I just created an example app with two services frontend and backend. In the backend I defined the SQS queue using addons like this:

<details>
<summary>template.yaml</summary>
<p>

[code]

</p>
</details>

So that the backend will be able to only receive message from queue and then the queue URL can be accessed by the backend as env var with name "QUEUE_URL". And the frontend can g

[2020-12-20 18:00] sinedie commented on #1756
OK... first, thank you. You're awesome. I only had set AWS::IAM::ManagedPolicy to the service with the addon and I was a little confused on how to do it right. This is really awesome.

I haven't tried yet, gonna try today.

Again, thank u.

[2020-12-21 00:12] sirbully commented on #1698
Newbie here, what command should be used if I already have an existing app and want to use the domain in Route 53? What I tried to do was set up an https listener in the load balancer and then attach an SSL certificate (ACM) for my domain in Route 53 via console. I didn't proceed with this idea because I thought that if I tried to mess up the resources created by copilot, I'd have an issue later.

[2020-12-21 07:31] sinedie commented on #1379
Hey there, I got the same trouble.

When trying to run `copilot svc package --output-dir infrastructure/` I found out that you need to push `.workspace` file to git otherwise you will have the next error:

`could not find an application attached to this workspace, please run `app init` first`

That solves the issue.

I pushed the `manifest.yml` too, idk if thats a good idea? any advice? Ty.

[2020-12-21 14:56] sirbully opened #1771 "AccessDenied sts:AssumeRole"
Hi, I'm new to AWS and I also don't have full access to our company's AWS account but I've been instructed to use copilot. I keep getting this error when I try to deploy:

`AccessDenied: User: {user} is not authorized to perform: sts:AssumeRole on resource: {role}:{appname}-dev-EnvManagerRole`

What permissions should I ask my boss to grant my user account?

[2020-12-21 16:31] bvtujo commented on #1771
Good morning @sirbully, when you're deploying with Copilot the credentials you use will need to have `sts:AssumeRole` permissions on the `EnvManagerRole`s for any environments you're authorized to deploy to.

Copilot's credential story is structured around a central administration account and environment accounts. The application account needs broad permissions, as it is responsible for creating e

[2020-12-21 16:37] bvtujo commented on #1767
Hey @sbeam, I'm sorry to send you log diving but could you look for the underlying CF error in the console for us? (We're working on a better story for making these failures transparent right now but this is the quickest way for the time being, so sorry)

If you head to CloudFormation -> Stacks -> `xyzzy-infrastructure-roles` -> Events, then scroll down the page until the earliest event with statu

[2020-12-21 16:39] sirbully commented on #1771
Hello @bvtujo, Thanks so much for replying!

I solved the problem by editing the trusted entities under `EnvManagerRole`. It had something along the lines of `arn:aws:iam::111122223333:root` which I manually updated to `arn:aws:iam::111122223333:user/<username>`. Afterwards, when I run `copilot svc deploy`, I no longer had the access denied error.

Please let me know if I have made a catastrophic

[2020-12-21 16:40] pcolazurdo opened #1772 "Document requirements for Task Roles created manually"
I've found that the arn:aws:iam::xxxxxxxxxxxx:role/xxx-EnvManagerRoleRole created by Copilot CLI will use the tags:

[code]

To restrict some of the permissions that this role has. Specifically, I had issues understanding where and how add PassRole permissions to a manually created Role that I wanted to use in a ```copilot task run --task-role RoleName``` job.

The solution was to tag this manuall

[2020-12-21 17:13] kohidave commented on #1771
That's not catastrophic at all - just more limited role :) The root user should allow anyone in the account to assume the role - so that's a little odd. Out of curiosity, are you using Cloud9 or are you using your terminal?

[2020-12-21 17:13] sbeam commented on #1767
Ah, no problem, happy to look. I did not know where to find the logs. You are right, it's a permissions issue. I thought PowerUserAccess would give me enough but it seems not

[code]

Now that I know how to debug I'll adjust until it works (not sure if the exact policy needed is documented?). Thanks for your help!

[2020-12-21 17:13] #1767 closed, assigned to nobody

[2020-12-21 17:16] kohidave commented on #1767
Sweet! So glad that you got this working.

[2020-12-21 17:40] sirbully commented on #1771
That's good to hear @kohidave! And yes, I do find it strange. I didn't experience this error when I was using copilot on my personal AWS account (where I had AdminAccess). Only in our company account (where I have very limited access). Also, I'm using my terminal for this.

On another note, I have another issue I need help with. This is probably due to my inexperience with AWS and less-than-stella

[2020-12-21 17:44] bvtujo commented on #1767
@sbeam https://github.com/aws/copilot-cli/issues/1345 is an issue we're tracking where some other customers have posted their minimal policies for creating an app.

[2020-12-21 17:55] bvtujo commented on #1771
@sirbully This is by no means unfixable, just annoying!

To do a fully clean deletion without using the `app delete` command, you need to delete the following things:

* All SSM parameters (in Systems Manager Parameter Store) prefixed with `/copilot/...`
* All cloudformation stacks containing the name of your app (`stackset-myapp-infrastructure`, `myapp-infrastructure-roles`, `myapp-myenv`, `myapp

[2020-12-21 18:12] sinedie commented on #1379
After this, im having another issue... The build reach till

Maybe caused by:

But I haven't pull 100 times in 6 hours and my other pipeline services works.
This one has something different: uses a build preprocess where generates an static SPA and copies to final image where is served by a node-express server

[code]

[2020-12-21 18:16] sirbully commented on #1771
Thank you both, you've been very helpful! Looking forward to learning more of AWS (and properly using the copilot CLI) as well as the features you have planned for the future ✨

Before copilot, I actually tried to deploy our app manually from the AWS console, creating the required networking objects, the ecr, the cluster and everything that comes along with it. It was a good learning process to fa

[2020-12-21 18:19] bvtujo commented on #1771
Closing this issue but feel free to reopen if anything else pops up. Thanks for giving Copilot a try!

[2020-12-21 18:19] #1771 closed, assigned to nobody

[2020-12-21 19:57] efekarakus commented on #1379
Heya @sinedie !

Thanks for finding this out!

Yes, that's definitely a good idea. The `manifest.yml` is meant to be infra-as-code that can be code reviewed by other teammates so it's def. okay to push that to your repository.

toomanyrequests: You have reached your pull rate limit. You may increase the limit by authenticating and upgrading:

:( this is one way that you can mitigate this issue:
ht

[2020-12-21 20:00] sinedie opened #1774 "Production enviroment domain doesn't match the register domain"
I have a domain on route 53, let call it example.com.

I want that the production enviroment url match that domain 'https://example.com' but im getting this instead. 'https://service.env.app.example.com'

I know it is supposed to work like this, and it's good for test enviroment, but not for production.

I create the prod env like this:

copilot env init --prod

If someone can point me out what i'

[2020-12-21 20:02] sinedie commented on #1774
May be good to ask if the enviroment is going to be a production enviroment on the `copilot env init` wizzard. Maybe it does? idk, didn't see it

[2020-12-21 23:57] bvtujo commented on #1774
Hi @sinedie, we have a few issues around DNS improvements open right now. Most relevant to your interests is [this comment on 1188](https://github.com/aws/copilot-cli/issues/1188#issuecomment-713077346) which is a brief tutorial for creating a new cert and CNAME for a particular service.

Right now we don't have a good story within Copilot for creating certs for a bare domain or routing requests f

[2020-12-22 02:33] lukeledet opened #1775 "Repository names with capital letters break tasks"
My repo name is all caps like https://github.com/org/APP. This hasn't been an issue until trying to run a task. In CF I get this error for the `ECRRepo` step: `Model validation failed (#/RepositoryName: failed validation constraint for keyword [pattern])`. RepositoryName is the TaskName parameter combined with "copilot-". Would it be a problem to lowercase the repo name when using it for the TaskN

[2020-12-22 08:10] sinedie opened #1776 "Backend without healthcheck keeps restarting"
Hey there, I have a celery worker on a container. It doesn't serve any api so can't provide any healcheck.

The only way a service in the application communicates to this worker is via message queue.

When deployed with copilot, this services keeps restarting every... 2min max?. I guess it is the healthcheck -cause the logs doesn't show any error-

![image](https://user-images.githubusercontent.co

[2020-12-22 16:26] sirbully opened #1777 "Prompt to override previously generated pipeline files"
Hi, I'm back! I think everytime I open an issue, it's somehow related to permissions.

This time, I have successfully set up everything with copilot. For my addons, I have a template for elasticsearch and redis. I can successfully deploy it from my terminal using `copilot svc deploy --name myapp --env test`. Then I went to set up the pipeline next. It was going well at first, building was successf

[2020-12-22 17:33] efekarakus commented on #1775
heya @lukeledet ! good idea, we'll fix this on our end.
In the mean time to mitigate the issue, you can use the `-n, --task-group-name` flag and pass in `-n app` (lowercase) and I think that should unblock you.

[2020-12-22 17:42] efekarakus commented on #1776
Heya @sinedie 👋
You shouldn't need to provide container healthchecks for a backend service.
Would you mind checking what's the stopped reason for the tasks that are stopping?

You can view it from the console:
![Screen Shot 2020-09-09 at 9 03 33 AM](https://user-images.githubusercontent.com/879348/92623682-6f465180-f27b-11ea-87c7-32284f7d2658.png)

Let us know what you find out and we'll try our b

[2020-12-22 17:46] efekarakus commented on #1777
Hi @sirbully !

Do you know if the addons template was pushed upstream? (Similarly for the `buildspec.yml` file)
And just to make sure the `buildspec.yml` was generated using Copilot v1.0.0 right?

[2020-12-22 18:02] pcolazurdo opened #1778 "Job init failing with Parameter name: can't be prefixed with "ssm" when run on a new project"
I've found a few issues trying to create a new Job on an existing App.

When running ```copilot job init```, I get the following error:

[code]

The only way to move past this point is by running **copilot** with the specific app Name in the CLI like this

[code]

[2020-12-22 18:34] iamhopaul123 commented on #1778
Hello @pcolazurdo. Sorry to hear you were getting this confusing error. This sounds like a bug to me. Normally you need to run `copilot app init` before creating any service/job, even though using an existing app. So I tried to reproduce the error, it seems like when I was running `copilot svc init` in a workspace without any app, it errors out with ```✘ could not find an application attached to t

[2020-12-22 18:58] #1778 closed, assigned to iamhopaul123

[2020-12-22 19:31] sinedie commented on #1776
Heya.

Yeah... in the stopped tasks saw the error.

I was trying this: https://github.com/aws/copilot-cli/issues/1756#issuecomment-748554759 but still seems like I don't have permission

`[2020-12-22 19:18:10,437: CRITICAL/MainProcess] Unrecoverable error: ClientError('An error occurred (AccessDenied) when calling the ListQueues operation: Access to the resource https://queue.amazonaws.com/ is den

[2020-12-22 19:31] #1776 closed, assigned to nobody

[2020-12-22 19:36] iamhopaul123 commented on #1776
Hi @sinedie I think this should be related to https://github.com/aws/copilot-cli/issues/1763. Adding this feature will surface those tasks stop reasons to users, which might be useful for debugging.

[2020-12-22 20:43] pcolazurdo commented on #1694
I think it would be very useful to allow to specify a TaskRole like in the ``` copilot task run --task-role ``` option for **services** and **jobs**.

[2020-12-23 00:13] efekarakus opened #1780 "Enable CircuitBreakers by default"
Deployment Circuit Breakers is now GA https://aws.amazon.com/about-aws/whats-new/2020/12/amazon-ecs-announces-the-general-availability-of-ecs-deployment-circuit-breaker/

We should enable both of of these fields by default: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-ecs-service-deploymentcircuitbreaker.html so that the next time customers deploy their services th

[2020-12-23 04:06] sinedie commented on #1756
Didn't worked, at least not with celery, but thats ok, by the moment I'll deploy Redis in a ECS container like a backend service. I know it is not the best option, but it works right now -it doesn't persist any data and the trafic is for my company (max 20 ppl) so, for a first attempt is good-

Ty for the help. Should I leave this issue open?

I'll Wait for that queue support :D. Copilot devs are

[2020-12-23 08:24] sirbully commented on #1777
Hi @efekarakus, I was able to find the solution to this.

I discovered the issue from checking the build logs with another dev on our team. The reason the build was failing is because it was trying to put an object in a non-existing S3 bucket.

More context:
I had previously run `copilot pipeline init` and later deleted it with `copilot pipeline delete`. The pipeline was deleted from AWS however t

[2020-12-23 13:13] frimik commented on #730
Terraform support could be huge. Being able to drop a module in, define *its* inputs, and having copilot able to use *its* outputs...? Curious to see what you're thinking of doing with it ...

[2020-12-23 16:02] lukeledet commented on #1775
I didn't know `-n` would help here, thanks @efekarakus !

[2020-12-23 17:33] felix-weizman-deel opened #1783 "Support multiple ports"
Hello,
I love your project, and it's really made my life so much easier :)

I couldn't find a way to expose multiple ports from my web service, something similar to Kubernetes:
ports:
    - containerPort: 50051
    - containerPort: 3000

Thanks!

[2020-12-23 18:18] efekarakus commented on #1783
Hi @felix-zg !

Unfortunately, we don't have a way yet to expose more than one port for a container.
Can you tell me a little bit more about what's a usecase for opening up multiple ports? So that we make sure to build the right thing.

Are you deploying a "Load Balanced Web Service" where "/pathA" routes to port 50051 and "/pathB" routes to 3000? i.e. each port is associated with a path.

To miti

[2020-12-23 18:29] efekarakus commented on #1777
Thanks for the clarification! Your suggestion makes sense 👍 we're thinking of adding a flag like `--override` to allow you to override the previously generated files or prompt when we detect that `buildspec.yml` already exists.

I'll keep the issue open for us to prioritize and rename it to match the suggestion.

[2020-12-23 19:07] iamhopaul123 commented on #1756
Sorry to hear that! We'll try to make this pattern possible and easier to use. I'll keep you posted.

Yes please as part of this problem remains unresolved.

[2020-12-23 20:32] #1775 closed, assigned to nobody

[2020-12-23 21:29] efekarakus commented on #1775
Merged a fix in #1784 it should go out next release 🐛 🔨

[2020-12-24 09:07] mkjsix opened #1787 "deploy always fails, even for trivial application"
I'm following the tutorial at https://aws.github.io/copilot-cli/docs/getting-started/first-app-tutorial/ step by step.

The deployment fails with the below error. What am I doing wrong?

[code]

[2020-12-24 09:11] mkjsix commented on #1787
BTW, the command `copilot app show` shows me this:

[code]

[2020-12-24 10:37] mkjsix commented on #1787
Below what happens when I try to delete the app:

[code]

The only option which works for me is to delete by hand the CloudFormation stacks.

[2020-12-24 18:17] efekarakus commented on #1787
Hi @mkjsix :wave: Sorry to hear that the deployment failed, this is strange! This issue might be relevant: https://github.com/aws/copilot-cli/issues/1771

To initially setup the application and test environment, the least difficult path is to use Admin permissions. Once, the environment is created Copilot uses the "EnvManagerRole" to manage your services.

[2020-12-28 09:18] felix-weizman-deel commented on #1783
Hey @efekarakus,
Thank you for your quick response.

I can solve this issue using part routing to designate ports with Nginx for example.
I'm trying to operate YataiService, you can read about it here: https://docs.bentoml.org/en/latest/deployment/aws_lambda.html#deploy-and-manage-aws-lambda-deployments-with-remote-yataiservice

[2020-12-28 18:50] henrymazza opened #1790 "How to specify `task run` environment from a manifest file?"
Even better, how to inject som SSM secrets on my `task run`?

I was under the assumption `task run` would be under the same environment (OS environment, for that matter) as my service, but it's not the case. env vars configured in my manifest.yml isn't showing up in my `task run`. So, where is the environment definition to it? I'm trying to validate my Service env using this method, so I may be wr

[2020-12-28 19:04] iamhopaul123 commented on #1790
Hello @henrymazza I think in order to inject SSM secrets to `task run` like what we have for the manifest (see [here](https://aws.github.io/copilot-cli/docs/developing/secrets/)), we need a `--secrets` flag so that you could inject them by doing `-- secrets GITHUB_WEBHOOK_SECRET=GH_WEBHOOK_SECRET --secrets FOO=BAR`. Would this flag address your use case?

[2020-12-28 19:12] efekarakus commented on #1790
Related to https://github.com/aws/copilot-cli/issues/1432#issuecomment-699147840

The ECS team is working on https://github.com/aws/containers-roadmap/issues/187, whenever that gets released you should expect also an integration with Copilot :)

[2020-12-28 19:30] henrymazza commented on #1790
Yeah! @iamhopaul123 ! That'd be great! Even better if I could use the =manifest.yml= of a service to do that. My intent here is to debug my container environment, or use the same environment to run thing like migrations (share database password). So anything that could share my task's environment with my service. SSH into the living container would be even better for debug purposes, so it worth th

[2020-12-28 19:40] iamhopaul123 commented on #1790
Hi @henrymazza, if the intent is to debug the container environment then it would be better to use [this feature](https://github.com/aws/containers-roadmap/issues/187) that is pointed by @efekarakus, and Copilot will be one of the first tools to support the feature. Please stay tuned for it!

[2020-12-29 12:48] carlcontinusys commented on #1736
Yes

[2020-12-29 19:01] mkjsix commented on #1787
It can be hard to give developers admin permissions. Most of the time we operate on customer's account at we cannot have more than "Power User" permissions.

[2020-12-30 13:09] guikcd opened #1795 "Image healthcheck not propagated to TaskDefinition"
During doing experiment with copilot (with the getting started sample app), i noticed that the svc status output for Health Status was `UNKNOWN`:

[code]
I've tried to change to use `image.healthcheck.command` in `copilot/api/manifest.yml` but the status always remained `UNKNOWN`.
Tried many values in the field, but my understanding is that the field is never propagated in ECS task.

In the ECS ta

[2020-12-30 16:33] efekarakus commented on #1795
Hi @guikcd !

If the "api" service is defined as a ["Load Balanced Web Service"](https://aws.github.io/copilot-cli/docs/manifest/lb-web-service/) then the [`http.healthcheck`](https://aws.github.io/copilot-cli/docs/manifest/lb-web-service/#http-healthcheck) field maps to target group health checks. These unfortunately don't show up as container health checks but instead can be viewed when describi

[2020-12-30 17:08] guikcd commented on #1795
Ok i understand, this is by design and make sense, didn't noticed the differences in the manifests for Backend & Load Balanced services in the manifest documentation!

I will close this, as it is not an issue, thanks for clarifying.

[2020-12-30 17:08] #1795 closed, assigned to nobody

[2020-12-31 18:03] trauts2 commented on #1419
Same issue here.  Any guidance for using with AWS SSO?

[2021-01-01 17:43] pointtoken opened #1800 "How to you stop and/or restart a service?"
Loving copilot!

Once a service is deployed, how does one stop and/or restart a service without full on deleting it? It isn't clear from the docs.

[2021-01-02 02:22] efekarakus commented on #1800
Hi @pointtoken !

To stop a service you can change the [`count`](https://aws.github.io/copilot-cli/docs/manifest/lb-web-service/#count) in the `manifest.yml` file to `count: 0` and deploy your service again with `copilot deploy`.
If you'd like to restart a service, I believe you can run `copilot deploy --tag <restart tag>` by providing your own tag it should push the same container image to the EC

[2021-01-02 02:55] deodad commented on #1790
Specifying a `--service` and getting it's injected env vars and secrets would be 👍

Use case for me would be getting access to outputs from an addon defined within the service

[2021-01-02 22:23] #1800 closed, assigned to nobody

[2021-01-04 09:14] mebibou commented on #1474
How to have the ALB add a https 443 listener without using the `domain` flag? my domain is not registered in route53 and when I deploy it only creates a listener on port 80. I added another 443 listener myself but it keeps being deleted on new deploy

[2021-01-04 17:11] #1533 closed, assigned to nobody

[2021-01-05 17:41] huanjani opened #1805 "`env upgrade --all` may cause pipeline builds to fail"
We currently have the command `env upgrade --all` in the buildspec.
This may prevent the pipeline build stage from reaching completion if the user does not add all app envs as pipeline stages.

A possible solution may be doing something like:
[code]

[2021-01-05 23:15] bvtujo commented on #1790
@adaddeo You can do this currently by running `[copilot svc show](https://aws.github.io/copilot-cli/docs/commands/svc-show/)`. `show` prints off a lot of metadata about the given service, including its injected environment variables and secrets for all environments the service is deployed to. If you've defined outputs in any addons stack, they will show up in the `Variables` section. There's also

[2021-01-06 00:19] deodad commented on #1790
Thanks @bvtujo. To clarify I was suggest env vars and secrets would be injected into the task in the same way it's done for the service, (I later found this proposed here https://github.com/aws/copilot-cli/issues/1432). For now I'll use `copilot svc show` to manually grab them.

Also, not seeing secrets in the `show` yet. Is that in the 1.0 release?

[2021-01-06 19:40] #1565 closed, assigned to nobody

[2021-01-08 22:24] efekarakus opened #1814 "Skip prompting for Dockerfile if Docker Engine is not running"
## Background

Currently Copilot prompts for which Dockerfile to use while running `copilot svc init` or `copilot job init`:
[code]

## Ask

Instead, it'd be nice if Copilot can detect if Docker Engine is running or not and filter the options accordingly, for example we can log a statement and immediately jump to using an existing image instead:
[code]

## Proposed programming model
One possible w

[2021-01-11 22:43] #1787 closed, assigned to nobody

[2021-01-13 00:14] Kylir opened #1822 "I can't delete my test environment"
Hi there!

I'm using copilot version 1.0.0.
I have an issue: I'm not able to delete an environment and I have no idea how to find why.

This is the command and the response I get after 10 or so minutes.

[code]

I wanted to get rid of an application with 3 pipelines, 4 services and 1 RDS (MySQL) instance created on the VPC manually.
I did an `copilot app delete` and it failed at the environment pa

[2021-01-13 00:26] efekarakus commented on #1822
Hi @Kylir !

Can you take a look at the "Events" tab for the "my-application-test" stack in CloudFormation? That should help us narrow down the issue. If you scroll down eventually there should be a resource that failed to delete first.

![Screen Shot 2021-01-12 at 4 23 31 PM](https://user-images.githubusercontent.com/879348/104390437-8a0f2800-54f2-11eb-9dcb-1fc393c8979a.png)
_Sample screenshot of

[2021-01-13 00:35] Kylir commented on #1822
Ah! Thank you very much! I followed your advice and I found the following:

[code]
And several other errors all pointing to the same EC2 instance.
Looks like I have to delete that instance.

Out of curiosity, I created that EC2 instance to interact with the MySQL database that is interacting with the services (using the VPC and subnets.)
Is there a better way to create DBs and VMs that I can keep

[2021-01-13 00:39] efekarakus commented on #1822
Ah if the DBs and VMs are created within the Copilot environment VPC, there isn't a way at the moment of deleting the Copilot Environment while retaining the VPC itself.

Until we provide that functionality, maybe a safe way would be to create a VPC outside of Copilot, and then running `copilot env init` and choosing to import an existing VPC. This way when the Copilot environment is deleted the V

[2021-01-13 00:48] Kylir commented on #1822
Ah! This is what I missed! I wanted to create a new app with the `--domain` option.
I assumed I will need to destroy everything and then recreate from scratch! My fault!

[2021-01-13 07:07] anish-dcruz commented on #1805
We are facing this issue right now.
The build is failing as its try to upgrade prod env which doesnt exisit.
We tried the for loop and still got error.
Thanks.

[2021-01-13 09:52] Kylir commented on #1822
A little update: the culprit was a security group I added to the VPC manually and forgot about!
Thanks again for your help!

[2021-01-13 09:52] #1822 closed, assigned to nobody

[2021-01-13 10:02] sachinahj opened #1823 "Ability to Disable Scheduled Job?"
Is there a way to disable the schedule for a scheduled job? I just want to call a fargate function from a lambda so don't need a schedule for it

[2021-01-13 11:20] vbarba opened #1824 "Adding environment to pipeline fails"
Hi,

When you add an stage to the pipeline for deploying in a new environment, if the environment contains services with addons the buildspec.yml file needs to be regenerated. If not, the pipeline fails because the packaged templates haven't been uploaded to the s3 buckets.

I think that something is needed to properly update the buildspec.yml file according the stages of the environment

Regards!

[2021-01-13 11:22] vbarba opened #1825 "Deploy fails when addons contains Transforms"
Hi,

The deploy fails when addons template include Transforms. For example, for secrets manager rotation:

```execute svc deploy: deploy service: wait until stack XXXXX update is complete: ResourceNotReady: failed waiting for successful resource state: S3 error: The specified bucket does not exist```

Regards

[2021-01-13 17:09] huanjani commented on #1805
Hi @anish-dcruz!

So sorry about this. For now,  a workaround is to change `./copilot-linux env upgrade --all` in the buildspec to `./copilot-linux env upgrade -n name-of-env-in-pipeline`. Let me know how that works!

[2021-01-13 17:36] efekarakus commented on #1805
+1 to @huanjani 's recommendation, for another way to mitigate you can also remove that line from the buildspec, commit and push it and that should get the pipeline unblocked.
Until we provide a fix for it, you can run the command `copilot env upgrade --all` whenever a new version of Copilot is released so that the latest templates are always synced to your environments. Apologies for the inconven

[2021-01-13 17:38] efekarakus commented on #1824
Thanks for creating the issue @vbarba ! We'll investigate this.

[2021-01-13 17:39] efekarakus commented on #1825
Interesting 🤔 would you mind sharing a sample template that would cause this issue for us to re-create on our end?

[2021-01-13 18:04] bvtujo commented on #1823
Hi @sachinahj, the easiest way would be to set the [`schedule` field](https://aws.github.io/copilot-cli/docs/manifest/scheduled-job/#on-schedule) in the manifest to a date in the past so it will never run. You can do this by using the [AWS Events native syntax](https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html#CronExpressions), which includes an extra "year" field. Fo

[2021-01-13 18:06] iamhopaul123 commented on #1823
Hi @sachinahj, you can do it by running `copilot job init --schedule "cron(0 0 1 1 ? 2020)"` or some other schedule which can only be triggered by a date in the past.

[2021-01-13 19:07] huanjani commented on #1805
@anish-dcruz: We now have a fix for our buildspec forthcoming. Thanks for your feedback!

[2021-01-13 20:34] bvtujo commented on #1823
Closing this but feel free to reopen if you have any other questions!

[2021-01-13 20:34] #1823 closed, assigned to nobody

[2021-01-13 21:57] huanjani opened #1827 "pipeline: skip secret prompt when deleting CC pipeline"
The secret field is empty for CodeCommit-sourced pipelines.
When deleting these pipelines, the user still gets prompted, "Are you sure you want to delete the source secret  associated with pipeline [pipeline name]? This should happen only for GitHub tokens and other pipeline secrets.

[2021-01-13 21:58] huanjani opened #1828 "pipeline: skip secret deletion prompt when running `pipeline delete` on CodeCommit-sourced pipelines"
The secret field is empty for CodeCommit-sourced pipelines.
When deleting these pipelines, the user still gets prompted, "Are you sure you want to delete the source secret  associated with pipeline [pipeline name]? This should happen only for GitHub tokens and other pipeline secrets.

[2021-01-13 21:58] #1828 closed, assigned to nobody

[2021-01-13 23:43] vbarba commented on #1825
Thank you for your help in advance.

Here a Serverless Aurora PostgreSQL template with SecretsManager password rotation:

[code]
Deploying this I get this error:

```: json: cannot unmarshal string into Go struct field Template.Resources of type []string```

Works without the `AWS::SecretsManager::RotationSchedule` Resource

Also, I am wondering if the pipeline would add the AUTOEXPAND capability

[2021-01-14 00:07] #1805 closed, assigned to nobody

[2021-01-14 00:23] #781 closed

[2021-01-14 00:25] efekarakus commented on #1825
OK I can confirm that we have fixed this issue already in https://github.com/aws/copilot-cli/pull/1804 :D but it's not yet released. I deployed the stack provided as is to my account:
![Screen Shot 2021-01-13 at 4 19 54 PM](https://user-images.githubusercontent.com/879348/104528100-34528280-55bb-11eb-853e-6711b8d2431f.png)

We're planning a release early next week so look out for `v1.1.0` 👀 .

---

[2021-01-14 12:57] sirbully opened #1832 "Configure ECR lifecycle policy via Copilot"
Is there any way we can configure the lifecycle policy for the automatically generated ECR? I don't know if I missed it in the docs or if I should be doing it manually from the AWS console instead

[2021-01-14 17:51] efekarakus commented on #1832
Hi @sirbully, thanks for the issue! We don't have a way of updating the ECR settings in Copilot at the moment 🙇. This would be a new feature request for us.

[2021-01-14 23:03] iamhopaul123 commented on #1814
closed via #1821, #1830, #1836

[2021-01-14 23:03] #1814 closed, assigned to iamhopaul123

[2021-01-14 23:51] efekarakus commented on #1780
Closing in favor of #1735

[2021-01-14 23:51] #1780 closed, assigned to nobody

[2021-01-15 01:18] #1735 closed, assigned to efekarakus

[2021-01-19 15:35] ghost commented on #1783
Hello,

I have a use case with an MQTT gateway container that runs in an ECS cluster today and that has been set up manually. It uses ports 8883 and 1883. We would like to set this up with infrastructure partially set up with copilot (will re-use an existing VPC) and get the image from an existing ECR registry. The pipeline should be set up with copilot as well.